<Type Name="Events" FullName="Gdk.Events">
  <TypeSignature Language="C#" Value="public class Events" />
  <TypeSignature Language="ILAsm" Value=".class public auto ansi beforefieldinit Events extends System.Object" />
  <AssemblyInfo>
    <AssemblyName>gdk-sharp</AssemblyName>
  </AssemblyInfo>
  <Base>
    <BaseTypeName>System.Object</BaseTypeName>
  </Base>
  <Interfaces />
  <Docs>
    <summary>To be added.</summary>
    <remarks>To be added.</remarks>
    <since version="Gtk# 3.0" />
  </Docs>
  <Members>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="public Events ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig specialname rtspecialname instance void .ctor() cil managed" />
      <MemberType>Constructor</MemberType>
      <Parameters />
      <Docs>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
        <since version="Gtk# 3.0" />
      </Docs>
    </Member>
    <Member MemberName="GetAngle">
      <MemberSignature Language="C#" Value="public static bool GetAngle (Gdk.Event event1, Gdk.Event event2, out double angle);" />
      <MemberSignature Language="ILAsm" Value=".method public static hidebysig bool GetAngle(class Gdk.Event event1, class Gdk.Event event2, float64 angle) cil managed" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Boolean</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="event1" Type="Gdk.Event" />
        <Parameter Name="event2" Type="Gdk.Event" />
        <Parameter Name="angle" Type="System.Double&amp;" RefType="out" />
      </Parameters>
      <Docs>
        <param name="event1">To be added.</param>
        <param name="event2">To be added.</param>
        <param name="angle">To be added.</param>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
        <since version="Gtk# 3.0" />
      </Docs>
    </Member>
    <Member MemberName="GetCenter">
      <MemberSignature Language="C#" Value="public static bool GetCenter (Gdk.Event event1, Gdk.Event event2, out double x, out double y);" />
      <MemberSignature Language="ILAsm" Value=".method public static hidebysig bool GetCenter(class Gdk.Event event1, class Gdk.Event event2, float64 x, float64 y) cil managed" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Boolean</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="event1" Type="Gdk.Event" />
        <Parameter Name="event2" Type="Gdk.Event" />
        <Parameter Name="x" Type="System.Double&amp;" RefType="out" />
        <Parameter Name="y" Type="System.Double&amp;" RefType="out" />
      </Parameters>
      <Docs>
        <param name="event1">To be added.</param>
        <param name="event2">To be added.</param>
        <param name="x">To be added.</param>
        <param name="y">To be added.</param>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
        <since version="Gtk# 3.0" />
      </Docs>
    </Member>
    <Member MemberName="GetDistance">
      <MemberSignature Language="C#" Value="public static bool GetDistance (Gdk.Event event1, Gdk.Event event2, out double distance);" />
      <MemberSignature Language="ILAsm" Value=".method public static hidebysig bool GetDistance(class Gdk.Event event1, class Gdk.Event event2, float64 distance) cil managed" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Boolean</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="event1" Type="Gdk.Event" />
        <Parameter Name="event2" Type="Gdk.Event" />
        <Parameter Name="distance" Type="System.Double&amp;" RefType="out" />
      </Parameters>
      <Docs>
        <param name="event1">To be added.</param>
        <param name="event2">To be added.</param>
        <param name="distance">To be added.</param>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
        <since version="Gtk# 3.0" />
      </Docs>
    </Member>
    <Member MemberName="Pending">
      <MemberSignature Language="C#" Value="public static bool Pending ();" />
      <MemberSignature Language="ILAsm" Value=".method public static hidebysig bool Pending() cil managed" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Boolean</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
        <since version="Gtk# 3.0" />
      </Docs>
    </Member>
  </Members>
</Type>
