.deps
.libs
*-api.xml
*.dll
*.dll.config
*.exe
*.exe.config
*.la
*.lo
*.mdb
*.o
*.pc
*.pidb
*.userprefs
*.wxs
aclocal.m4
autom4te.cache
audit/data
config.*
configure
depcomp
generated
generated.c
generated-stamp
install-sh
libtool
ltmain.sh
missing
policy.config
policy.*.config
stamp-h1
AssemblyInfo.cs
Makefile
Makefile.in
doc/gtk-sharp-3-docs.*
