.deps
.libs
*-api.xml
*.dll
*.dll.config
*.exe
*.exe.config
*.la
*.lo
*.msi
*.msm
*.mdb
*.o
*.pc
*.pidb
*.pdb
*.userprefs
*.wixobj
*.wixpdb
aclocal.m4
autom4te.cache
audit/data
compile
config.*
configure
depcomp
doc/gtk-sharp-3-docs.*
generated
generated.c
generated-stamp
install-sh
libtool
ltmain.sh
m4/
missing
msi/gtk-sharp-3.0.wxs
msi/unmanaged/download-stamp
msi/unmanaged/source/*
policy.config
policy.*.config
stamp-h1
AssemblyInfo.cs
Makefile
Makefile.in
