<Type Name="App" FullName="Gnome.App">
  <TypeSignature Language="C#" Value="public class App : Gtk.Window, Implementor, IWrapper, IWrapper, IDisposable" Maintainer="auto" />
  <AssemblyInfo>
    <AssemblyName>gnome-sharp</AssemblyName>
    <AssemblyVersion>0.0.0.0</AssemblyVersion>
    <Attributes />
  </AssemblyInfo>
  <ThreadSafetyStatement>Gtk# is thread aware, but not thread safe; See the <link location="node:gtk-sharp/programming/threads">Gtk# Thread Programming</link> for details.</ThreadSafetyStatement>
  <Docs>
    <summary>To be added</summary>
    <remarks>To be added</remarks>
  </Docs>
  <Base>
    <BaseTypeName>Gtk.Window</BaseTypeName>
  </Base>
  <Interfaces>
    <Interface>
      <InterfaceName>Atk.Implementor</InterfaceName>
    </Interface>
    <Interface>
      <InterfaceName>GLib.IWrapper</InterfaceName>
    </Interface>
    <Interface>
      <InterfaceName>GLib.IWrapper</InterfaceName>
    </Interface>
    <Interface>
      <InterfaceName>System.IDisposable</InterfaceName>
    </Interface>
  </Interfaces>
  <Attributes />
  <Members>
    <Member MemberName="FillToolbarWithData">
      <MemberSignature Language="C#" Value="public static void FillToolbarWithData (Gtk.Toolbar toolbar, Gnome.UIInfo uiinfo, Gtk.AccelGroup accel_group, IntPtr user_data);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
		<Parameter Name="toolbar" Type="Gtk.Toolbar" />
		<Parameter Name="uiinfo" Type="Gnome.UIInfo" />
		<Parameter Name="accel_group" Type="Gtk.AccelGroup" />
		<Parameter Name="user_data" Type="System.IntPtr" />
	</Parameters>
      <Docs>
        <summary>To be added</summary>
        <param name="toolbar">To be added: an object of type 'Gtk.Toolbar'</param>
        <param name="uiinfo">To be added: an object of type 'Gnome.UIInfo'</param>
        <param name="accel_group">To be added: an object of type 'Gtk.AccelGroup'</param>
        <param name="user_data">To be added: an object of type 'IntPtr'</param>
        <remarks>To be added</remarks>
      </Docs>
    </Member>
    <Member MemberName="UiConfigureConfigurable">
      <MemberSignature Language="C#" Value="public static void UiConfigureConfigurable (Gnome.UIInfo uiinfo);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
		<Parameter Name="uiinfo" Type="Gnome.UIInfo" />
	</Parameters>
      <Docs>
        <summary>To be added</summary>
        <param name="uiinfo">To be added: an object of type 'Gnome.UIInfo'</param>
        <remarks>To be added</remarks>
      </Docs>
    </Member>
    <Member MemberName="FillToolbar">
      <MemberSignature Language="C#" Value="public static void FillToolbar (Gtk.Toolbar toolbar, Gnome.UIInfo uiinfo, Gtk.AccelGroup accel_group);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
		<Parameter Name="toolbar" Type="Gtk.Toolbar" />
		<Parameter Name="uiinfo" Type="Gnome.UIInfo" />
		<Parameter Name="accel_group" Type="Gtk.AccelGroup" />
	</Parameters>
      <Docs>
        <summary>To be added</summary>
        <param name="toolbar">To be added: an object of type 'Gtk.Toolbar'</param>
        <param name="uiinfo">To be added: an object of type 'Gnome.UIInfo'</param>
        <param name="accel_group">To be added: an object of type 'Gtk.AccelGroup'</param>
        <remarks>To be added</remarks>
      </Docs>
    </Member>
    <Member MemberName="FillMenu">
      <MemberSignature Language="C#" Value="public static void FillMenu (Gtk.MenuShell menu_shell, Gnome.UIInfo uiinfo, Gtk.AccelGroup accel_group, bool uline_accels, int pos);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
		<Parameter Name="menu_shell" Type="Gtk.MenuShell" />
		<Parameter Name="uiinfo" Type="Gnome.UIInfo" />
		<Parameter Name="accel_group" Type="Gtk.AccelGroup" />
		<Parameter Name="uline_accels" Type="System.Boolean" />
		<Parameter Name="pos" Type="System.Int32" />
	</Parameters>
      <Docs>
        <summary>To be added</summary>
        <param name="menu_shell">To be added: an object of type 'Gtk.MenuShell'</param>
        <param name="uiinfo">To be added: an object of type 'Gnome.UIInfo'</param>
        <param name="accel_group">To be added: an object of type 'Gtk.AccelGroup'</param>
        <param name="uline_accels">To be added: an object of type 'bool'</param>
        <param name="pos">To be added: an object of type 'int'</param>
        <remarks>To be added</remarks>
      </Docs>
    </Member>
    <Member MemberName="InstallStatusbarMenuHints">
      <MemberSignature Language="C#" Value="public static void InstallStatusbarMenuHints (Gtk.Statusbar bar, Gnome.UIInfo uiinfo);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
		<Parameter Name="bar" Type="Gtk.Statusbar" />
		<Parameter Name="uiinfo" Type="Gnome.UIInfo" />
	</Parameters>
      <Docs>
        <summary>To be added</summary>
        <param name="bar">To be added: an object of type 'Gtk.Statusbar'</param>
        <param name="uiinfo">To be added: an object of type 'Gnome.UIInfo'</param>
        <remarks>To be added</remarks>
      </Docs>
    </Member>
    <Member MemberName="FillMenuWithData">
      <MemberSignature Language="C#" Value="public static void FillMenuWithData (Gtk.MenuShell menu_shell, Gnome.UIInfo uiinfo, Gtk.AccelGroup accel_group, bool uline_accels, int pos, IntPtr user_data);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
		<Parameter Name="menu_shell" Type="Gtk.MenuShell" />
		<Parameter Name="uiinfo" Type="Gnome.UIInfo" />
		<Parameter Name="accel_group" Type="Gtk.AccelGroup" />
		<Parameter Name="uline_accels" Type="System.Boolean" />
		<Parameter Name="pos" Type="System.Int32" />
		<Parameter Name="user_data" Type="System.IntPtr" />
	</Parameters>
      <Docs>
        <summary>To be added</summary>
        <param name="menu_shell">To be added: an object of type 'Gtk.MenuShell'</param>
        <param name="uiinfo">To be added: an object of type 'Gnome.UIInfo'</param>
        <param name="accel_group">To be added: an object of type 'Gtk.AccelGroup'</param>
        <param name="uline_accels">To be added: an object of type 'bool'</param>
        <param name="pos">To be added: an object of type 'int'</param>
        <param name="user_data">To be added: an object of type 'IntPtr'</param>
        <remarks>To be added</remarks>
      </Docs>
    </Member>
    <Member MemberName="FillToolbarCustom">
      <MemberSignature Language="C#" Value="public static void FillToolbarCustom (Gtk.Toolbar toolbar, Gnome.UIInfo uiinfo, Gnome.UIBuilderData uibdata, Gtk.AccelGroup accel_group);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
		<Parameter Name="toolbar" Type="Gtk.Toolbar" />
		<Parameter Name="uiinfo" Type="Gnome.UIInfo" />
		<Parameter Name="uibdata" Type="Gnome.UIBuilderData" />
		<Parameter Name="accel_group" Type="Gtk.AccelGroup" />
	</Parameters>
      <Docs>
        <summary>To be added</summary>
        <param name="toolbar">To be added: an object of type 'Gtk.Toolbar'</param>
        <param name="uiinfo">To be added: an object of type 'Gnome.UIInfo'</param>
        <param name="uibdata">To be added: an object of type 'Gnome.UIBuilderData'</param>
        <param name="accel_group">To be added: an object of type 'Gtk.AccelGroup'</param>
        <remarks>To be added</remarks>
      </Docs>
    </Member>
    <Member MemberName="FindMenuPos">
      <MemberSignature Language="C#" Value="public static Gtk.Widget FindMenuPos (Gtk.Widget parent, string path, int pos);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>Gtk.Widget</ReturnType>
      </ReturnValue>
      <Parameters>
		<Parameter Name="parent" Type="Gtk.Widget" />
		<Parameter Name="path" Type="System.String" />
		<Parameter Name="pos" Type="System.Int32" />
	</Parameters>
      <Docs>
        <summary>To be added</summary>
        <param name="parent">To be added: an object of type 'Gtk.Widget'</param>
        <param name="path">To be added: an object of type 'string'</param>
        <param name="pos">To be added: an object of type 'int'</param>
        <returns>To be added: an object of type 'Gtk.Widget'</returns>
        <remarks>To be added</remarks>
      </Docs>
    </Member>
    <Member MemberName="HelperGettext">
      <MemberSignature Language="C#" Value="public static string HelperGettext (string str1ng);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Parameters>
		<Parameter Name="str1ng" Type="System.String" />
	</Parameters>
      <Docs>
        <summary>To be added</summary>
        <param name="str1ng">To be added: an object of type 'string'</param>
        <returns>To be added: an object of type 'string'</returns>
        <remarks>To be added</remarks>
      </Docs>
    </Member>
    <Member MemberName="InstallAppbarMenuHints">
      <MemberSignature Language="C#" Value="public static void InstallAppbarMenuHints (Gnome.AppBar appbar, Gnome.UIInfo uiinfo);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
		<Parameter Name="appbar" Type="Gnome.AppBar" />
		<Parameter Name="uiinfo" Type="Gnome.UIInfo" />
	</Parameters>
      <Docs>
        <summary>To be added</summary>
        <param name="appbar">To be added: an object of type 'Gnome.AppBar'</param>
        <param name="uiinfo">To be added: an object of type 'Gnome.UIInfo'</param>
        <remarks>To be added</remarks>
      </Docs>
    </Member>
    <Member MemberName="FillMenuCustom">
      <MemberSignature Language="C#" Value="public static void FillMenuCustom (Gtk.MenuShell menu_shell, Gnome.UIInfo uiinfo, Gnome.UIBuilderData uibdata, Gtk.AccelGroup accel_group, bool uline_accels, int pos);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
		<Parameter Name="menu_shell" Type="Gtk.MenuShell" />
		<Parameter Name="uiinfo" Type="Gnome.UIInfo" />
		<Parameter Name="uibdata" Type="Gnome.UIBuilderData" />
		<Parameter Name="accel_group" Type="Gtk.AccelGroup" />
		<Parameter Name="uline_accels" Type="System.Boolean" />
		<Parameter Name="pos" Type="System.Int32" />
	</Parameters>
      <Docs>
        <summary>To be added</summary>
        <param name="menu_shell">To be added: an object of type 'Gtk.MenuShell'</param>
        <param name="uiinfo">To be added: an object of type 'Gnome.UIInfo'</param>
        <param name="uibdata">To be added: an object of type 'Gnome.UIBuilderData'</param>
        <param name="accel_group">To be added: an object of type 'Gtk.AccelGroup'</param>
        <param name="uline_accels">To be added: an object of type 'bool'</param>
        <param name="pos">To be added: an object of type 'int'</param>
        <remarks>To be added</remarks>
      </Docs>
    </Member>
    <Member MemberName="CreateToolbarWithData">
      <MemberSignature Language="C#" Value="public void CreateToolbarWithData (Gnome.UIInfo uiinfo, IntPtr user_data);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
		<Parameter Name="uiinfo" Type="Gnome.UIInfo" />
		<Parameter Name="user_data" Type="System.IntPtr" />
	</Parameters>
      <Docs>
        <summary>To be added</summary>
        <param name="uiinfo">To be added: an object of type 'Gnome.UIInfo'</param>
        <param name="user_data">To be added: an object of type 'IntPtr'</param>
        <remarks>To be added</remarks>
      </Docs>
    </Member>
    <Member MemberName="CreateToolbarInterp">
      <MemberSignature Language="C#" Value="public void CreateToolbarInterp (Gnome.UIInfo uiinfo, Gtk.CallbackMarshal relay_func, IntPtr data, Gtk.DestroyNotify destroy_func);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
		<Parameter Name="uiinfo" Type="Gnome.UIInfo" />
		<Parameter Name="relay_func" Type="Gtk.CallbackMarshal" />
		<Parameter Name="data" Type="System.IntPtr" />
		<Parameter Name="destroy_func" Type="Gtk.DestroyNotify" />
	</Parameters>
      <Docs>
        <summary>To be added</summary>
        <param name="uiinfo">To be added: an object of type 'Gnome.UIInfo'</param>
        <param name="relay_func">To be added: an object of type 'Gtk.CallbackMarshal'</param>
        <param name="data">To be added: an object of type 'IntPtr'</param>
        <param name="destroy_func">To be added: an object of type 'Gtk.DestroyNotify'</param>
        <remarks>To be added</remarks>
      </Docs>
    </Member>
    <Member MemberName="RemoveMenuRange">
      <MemberSignature Language="C#" Value="public void RemoveMenuRange (string path, int start, int items);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
		<Parameter Name="path" Type="System.String" />
		<Parameter Name="start" Type="System.Int32" />
		<Parameter Name="items" Type="System.Int32" />
	</Parameters>
      <Docs>
        <summary>To be added</summary>
        <param name="path">To be added: an object of type 'string'</param>
        <param name="start">To be added: an object of type 'int'</param>
        <param name="items">To be added: an object of type 'int'</param>
        <remarks>To be added</remarks>
      </Docs>
    </Member>
    <Member MemberName="CreateToolbar">
      <MemberSignature Language="C#" Value="public void CreateToolbar (Gnome.UIInfo uiinfo);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
		<Parameter Name="uiinfo" Type="Gnome.UIInfo" />
	</Parameters>
      <Docs>
        <summary>To be added</summary>
        <param name="uiinfo">To be added: an object of type 'Gnome.UIInfo'</param>
        <remarks>To be added</remarks>
      </Docs>
    </Member>
    <Member MemberName="CreateMenus">
      <MemberSignature Language="C#" Value="public void CreateMenus (Gnome.UIInfo uiinfo);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
		<Parameter Name="uiinfo" Type="Gnome.UIInfo" />
	</Parameters>
      <Docs>
        <summary>To be added</summary>
        <param name="uiinfo">To be added: an object of type 'Gnome.UIInfo'</param>
        <remarks>To be added</remarks>
      </Docs>
    </Member>
    <Member MemberName="CreateMenusWithData">
      <MemberSignature Language="C#" Value="public void CreateMenusWithData (Gnome.UIInfo uiinfo, IntPtr user_data);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
		<Parameter Name="uiinfo" Type="Gnome.UIInfo" />
		<Parameter Name="user_data" Type="System.IntPtr" />
	</Parameters>
      <Docs>
        <summary>To be added</summary>
        <param name="uiinfo">To be added: an object of type 'Gnome.UIInfo'</param>
        <param name="user_data">To be added: an object of type 'IntPtr'</param>
        <remarks>To be added</remarks>
      </Docs>
    </Member>
    <Member MemberName="Construct">
      <MemberSignature Language="C#" Value="public void Construct (string appname, string title);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
		<Parameter Name="appname" Type="System.String" />
		<Parameter Name="title" Type="System.String" />
	</Parameters>
      <Docs>
        <summary>To be added</summary>
        <param name="appname">To be added: an object of type 'string'</param>
        <param name="title">To be added: an object of type 'string'</param>
        <remarks>To be added</remarks>
      </Docs>
    </Member>
    <Member MemberName="RemoveMenus">
      <MemberSignature Language="C#" Value="public void RemoveMenus (string path, int items);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
		<Parameter Name="path" Type="System.String" />
		<Parameter Name="items" Type="System.Int32" />
	</Parameters>
      <Docs>
        <summary>To be added</summary>
        <param name="path">To be added: an object of type 'string'</param>
        <param name="items">To be added: an object of type 'int'</param>
        <remarks>To be added</remarks>
      </Docs>
    </Member>
    <Member MemberName="CreateToolbarCustom">
      <MemberSignature Language="C#" Value="public void CreateToolbarCustom (Gnome.UIInfo uiinfo, Gnome.UIBuilderData uibdata);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
		<Parameter Name="uiinfo" Type="Gnome.UIInfo" />
		<Parameter Name="uibdata" Type="Gnome.UIBuilderData" />
	</Parameters>
      <Docs>
        <summary>To be added</summary>
        <param name="uiinfo">To be added: an object of type 'Gnome.UIInfo'</param>
        <param name="uibdata">To be added: an object of type 'Gnome.UIBuilderData'</param>
        <remarks>To be added</remarks>
      </Docs>
    </Member>
    <Member MemberName="InsertMenusCustom">
      <MemberSignature Language="C#" Value="public void InsertMenusCustom (string path, Gnome.UIInfo uiinfo, Gnome.UIBuilderData uibdata);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
		<Parameter Name="path" Type="System.String" />
		<Parameter Name="uiinfo" Type="Gnome.UIInfo" />
		<Parameter Name="uibdata" Type="Gnome.UIBuilderData" />
	</Parameters>
      <Docs>
        <summary>To be added</summary>
        <param name="path">To be added: an object of type 'string'</param>
        <param name="uiinfo">To be added: an object of type 'Gnome.UIInfo'</param>
        <param name="uibdata">To be added: an object of type 'Gnome.UIBuilderData'</param>
        <remarks>To be added</remarks>
      </Docs>
    </Member>
    <Member MemberName="InsertMenus">
      <MemberSignature Language="C#" Value="public void InsertMenus (string path, Gnome.UIInfo menuinfo);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
		<Parameter Name="path" Type="System.String" />
		<Parameter Name="menuinfo" Type="Gnome.UIInfo" />
	</Parameters>
      <Docs>
        <summary>To be added</summary>
        <param name="path">To be added: an object of type 'string'</param>
        <param name="menuinfo">To be added: an object of type 'Gnome.UIInfo'</param>
        <remarks>To be added</remarks>
      </Docs>
    </Member>
    <Member MemberName="SetStatusbarCustom">
      <MemberSignature Language="C#" Value="public void SetStatusbarCustom (Gtk.Widget container, Gtk.Widget statusbar);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
		<Parameter Name="container" Type="Gtk.Widget" />
		<Parameter Name="statusbar" Type="Gtk.Widget" />
	</Parameters>
      <Docs>
        <summary>To be added</summary>
        <param name="container">To be added: an object of type 'Gtk.Widget'</param>
        <param name="statusbar">To be added: an object of type 'Gtk.Widget'</param>
        <remarks>To be added</remarks>
      </Docs>
    </Member>
    <Member MemberName="CreateMenusCustom">
      <MemberSignature Language="C#" Value="public void CreateMenusCustom (Gnome.UIInfo uiinfo, Gnome.UIBuilderData uibdata);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
		<Parameter Name="uiinfo" Type="Gnome.UIInfo" />
		<Parameter Name="uibdata" Type="Gnome.UIBuilderData" />
	</Parameters>
      <Docs>
        <summary>To be added</summary>
        <param name="uiinfo">To be added: an object of type 'Gnome.UIInfo'</param>
        <param name="uibdata">To be added: an object of type 'Gnome.UIBuilderData'</param>
        <remarks>To be added</remarks>
      </Docs>
    </Member>
    <Member MemberName="InsertMenusInterp">
      <MemberSignature Language="C#" Value="public void InsertMenusInterp (string path, Gnome.UIInfo menuinfo, Gtk.CallbackMarshal relay_func, IntPtr data, Gtk.DestroyNotify destroy_func);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
		<Parameter Name="path" Type="System.String" />
		<Parameter Name="menuinfo" Type="Gnome.UIInfo" />
		<Parameter Name="relay_func" Type="Gtk.CallbackMarshal" />
		<Parameter Name="data" Type="System.IntPtr" />
		<Parameter Name="destroy_func" Type="Gtk.DestroyNotify" />
	</Parameters>
      <Docs>
        <summary>To be added</summary>
        <param name="path">To be added: an object of type 'string'</param>
        <param name="menuinfo">To be added: an object of type 'Gnome.UIInfo'</param>
        <param name="relay_func">To be added: an object of type 'Gtk.CallbackMarshal'</param>
        <param name="data">To be added: an object of type 'IntPtr'</param>
        <param name="destroy_func">To be added: an object of type 'Gtk.DestroyNotify'</param>
        <remarks>To be added</remarks>
      </Docs>
    </Member>
    <Member MemberName="InstallMenuHints">
      <MemberSignature Language="C#" Value="public void InstallMenuHints (Gnome.UIInfo uiinfo);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
		<Parameter Name="uiinfo" Type="Gnome.UIInfo" />
	</Parameters>
      <Docs>
        <summary>To be added</summary>
        <param name="uiinfo">To be added: an object of type 'Gnome.UIInfo'</param>
        <remarks>To be added</remarks>
      </Docs>
    </Member>
    <Member MemberName="CreateMenusInterp">
      <MemberSignature Language="C#" Value="public void CreateMenusInterp (Gnome.UIInfo uiinfo, Gtk.CallbackMarshal relay_func, IntPtr data, Gtk.DestroyNotify destroy_func);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
		<Parameter Name="uiinfo" Type="Gnome.UIInfo" />
		<Parameter Name="relay_func" Type="Gtk.CallbackMarshal" />
		<Parameter Name="data" Type="System.IntPtr" />
		<Parameter Name="destroy_func" Type="Gtk.DestroyNotify" />
	</Parameters>
      <Docs>
        <summary>To be added</summary>
        <param name="uiinfo">To be added: an object of type 'Gnome.UIInfo'</param>
        <param name="relay_func">To be added: an object of type 'Gtk.CallbackMarshal'</param>
        <param name="data">To be added: an object of type 'IntPtr'</param>
        <param name="destroy_func">To be added: an object of type 'Gtk.DestroyNotify'</param>
        <remarks>To be added</remarks>
      </Docs>
    </Member>
    <Member MemberName="EnableLayoutConfig">
      <MemberSignature Language="C#" Value="public void EnableLayoutConfig (bool enable);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
		<Parameter Name="enable" Type="System.Boolean" />
	</Parameters>
      <Docs>
        <summary>To be added</summary>
        <param name="enable">To be added: an object of type 'bool'</param>
        <remarks>To be added</remarks>
      </Docs>
    </Member>
    <Member MemberName="InsertMenusWithData">
      <MemberSignature Language="C#" Value="public void InsertMenusWithData (string path, Gnome.UIInfo menuinfo, IntPtr data);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
		<Parameter Name="path" Type="System.String" />
		<Parameter Name="menuinfo" Type="Gnome.UIInfo" />
		<Parameter Name="data" Type="System.IntPtr" />
	</Parameters>
      <Docs>
        <summary>To be added</summary>
        <param name="path">To be added: an object of type 'string'</param>
        <param name="menuinfo">To be added: an object of type 'Gnome.UIInfo'</param>
        <param name="data">To be added: an object of type 'IntPtr'</param>
        <remarks>To be added</remarks>
      </Docs>
    </Member>
    <Member MemberName="Finalize">
      <MemberSignature Language="C#" Value="protected virtual void Finalize ();" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>Disposes the resources associated with the object.</summary>
        <remarks />
      </Docs>
    </Member>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="public App (IntPtr raw);" />
      <MemberType>Constructor</MemberType>
      <ReturnValue />
      <Parameters>
		<Parameter Name="raw" Type="System.IntPtr" />
	</Parameters>
      <Docs>
        <summary>Internal constructor</summary>
        <param name="raw">Pointer to the C object.</param>
        <returns>An instance of App, wrapping the C object.</returns>
        <remarks>
          <para>This is an internal constructor, and should not be used by user code.</para>
        </remarks>
      </Docs>
    </Member>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="public App (string appname, string title);" />
      <MemberType>Constructor</MemberType>
      <ReturnValue />
      <Parameters>
		<Parameter Name="appname" Type="System.String" />
		<Parameter Name="title" Type="System.String" />
	</Parameters>
      <Docs>
        <summary>To be added</summary>
        <param name="appname">To be added: an object of type 'string'</param>
        <param name="title">To be added: an object of type 'string'</param>
        <returns>To be added: an object of type 'Gnome.App'</returns>
        <remarks>To be added</remarks>
      </Docs>
    </Member>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="protected App ();" />
      <MemberType>Constructor</MemberType>
      <ReturnValue />
      <Parameters />
      <Docs>
        <summary>To be added</summary>
        <returns>To be added: an object of type 'Gnome.App'</returns>
        <remarks>To be added</remarks>
      </Docs>
    </Member>
    <Member MemberName="GType">
      <MemberSignature Language="C#" Value="public static uint GType { get; };" />
      <MemberType>Property</MemberType>
      <ReturnValue>
        <ReturnType>System.UInt32</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>The GLib Type for Gnome.App</summary>
        <returns>The GLib Type for the Gnome.App class.</returns>
        <remarks />
      </Docs>
    </Member>
    <Member MemberName="Toolbar">
      <MemberSignature Language="C#" Value="public Gtk.Toolbar Toolbar { set; };" />
      <MemberType>Property</MemberType>
      <ReturnValue>
        <ReturnType>Gtk.Toolbar</ReturnType>
      </ReturnValue>
      <Parameters>
	</Parameters>
      <Docs>
        <summary>To be added</summary>
        <param name="value">To be added: an object of type 'Gtk.Toolbar'</param>
        <returns>To be added: an object of type 'Gtk.Toolbar'</returns>
        <remarks>To be added</remarks>
      </Docs>
    </Member>
    <Member MemberName="Contents">
      <MemberSignature Language="C#" Value="public Gtk.Widget Contents { set; };" />
      <MemberType>Property</MemberType>
      <ReturnValue>
        <ReturnType>Gtk.Widget</ReturnType>
      </ReturnValue>
      <Parameters>
	</Parameters>
      <Docs>
        <summary>To be added</summary>
        <param name="value">To be added: an object of type 'Gtk.Widget'</param>
        <returns>To be added: an object of type 'Gtk.Widget'</returns>
        <remarks>To be added</remarks>
      </Docs>
    </Member>
    <Member MemberName="Menus">
      <MemberSignature Language="C#" Value="public Gtk.MenuBar Menus { set; };" />
      <MemberType>Property</MemberType>
      <ReturnValue>
        <ReturnType>Gtk.MenuBar</ReturnType>
      </ReturnValue>
      <Parameters>
	</Parameters>
      <Docs>
        <summary>To be added</summary>
        <param name="value">To be added: an object of type 'Gtk.MenuBar'</param>
        <returns>To be added: an object of type 'Gtk.MenuBar'</returns>
        <remarks>To be added</remarks>
      </Docs>
    </Member>
    <Member MemberName="Statusbar">
      <MemberSignature Language="C#" Value="public Gtk.Widget Statusbar { set; };" />
      <MemberType>Property</MemberType>
      <ReturnValue>
        <ReturnType>Gtk.Widget</ReturnType>
      </ReturnValue>
      <Parameters>
	</Parameters>
      <Docs>
        <summary>To be added</summary>
        <param name="value">To be added: an object of type 'Gtk.Widget'</param>
        <returns>To be added: an object of type 'Gtk.Widget'</returns>
        <remarks>To be added</remarks>
      </Docs>
    </Member>
    <Member MemberName="AppId">
      <MemberSignature Language="C#" Value="public string AppId { set; get; };" />
      <MemberType>Property</MemberType>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Parameters>
	</Parameters>
      <Docs>
        <summary>To be added</summary>
        <param name="value">To be added: an object of type 'string'</param>
        <returns>To be added: an object of type 'string'</returns>
        <remarks>To be added</remarks>
      </Docs>
    </Member>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="protected App (GLib.Type gtype);" />
      <MemberType>Constructor</MemberType>
      <ReturnValue />
      <Parameters>
		<Parameter Name="gtype" Type="GLib.Type" />
	</Parameters>
      <Docs>
        <summary>Internal constructor</summary>
        <param name="gtype">GLib type for the type</param>
        <returns>Creates a new instance of App, using the GLib-provided type</returns>
        <remarks>
          <para>This is a constructor used by derivative types of <see cref="T:Gnome.App" /> that would have their own GLib type assigned to it.  This is not typically used by C# code.</para>
        </remarks>
      </Docs>
    </Member>
  </Members>
</Type>
