<Type Name="Config" FullName="Gnome.Config">
  <TypeSignature Language="C#" Value="public class Config" Maintainer="auto" />
  <AssemblyInfo>
    <AssemblyName>gnome-sharp</AssemblyName>
    <AssemblyPublicKey>
    </AssemblyPublicKey>
    <AssemblyVersion>0.0.0.0</AssemblyVersion>
    <AssemblyCulture>neutral</AssemblyCulture>
    <Attributes />
  </AssemblyInfo>
  <ThreadSafetyStatement>Gtk# is thread aware, but not thread safe; See the <link location="node:gtk-sharp/programming/threads">Gtk# Thread Programming</link> for details.</ThreadSafetyStatement>
  <Docs>
    <summary>To be added</summary>
    <remarks></remarks>
  </Docs>
  <Base>
    <BaseTypeName>System.Object</BaseTypeName>
  </Base>
  <Interfaces />
  <Attributes />
  <Members>
    <Member MemberName="PushPrefix">
      <MemberSignature Language="C#" Value="public static void PushPrefix (string path);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="path" Type="System.String" />
      </Parameters>
      <Docs>
        <summary>To be added</summary>
        <param name="path">a <see cref="T:System.String" /></param>
        <remarks></remarks>
      </Docs>
    </Member>
    <Member MemberName="IteratorNext">
      <MemberSignature Language="C#" Value="public static IntPtr IteratorNext (IntPtr iterator_handle, string key, string value);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.IntPtr</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="iterator_handle" Type="System.IntPtr" />
        <Parameter Name="key" Type="System.String" />
        <Parameter Name="value" Type="System.String" />
      </Parameters>
      <Docs>
        <summary>To be added</summary>
        <param name="iterator_handle">a <see cref="T:System.IntPtr" /></param>
        <param name="key">a <see cref="T:System.String" /></param>
        <param name="value">a <see cref="T:System.String" /></param>
        <returns>a <see cref="T:System.IntPtr" /></returns>
        <remarks></remarks>
      </Docs>
    </Member>
    <Member MemberName="SetVector_">
      <MemberSignature Language="C#" Value="public static void SetVector_ (string path, int argc, string [] argv, System.Boolean" /> priv);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="path" Type="System.String" />
        <Parameter Name="argc" Type="System.Int32" />
        <Parameter Name="argv" Type="System.String[]" />
        <Parameter Name="priv" Type="System.Boolean" />
      </Parameters>
      <Docs>
        <summary>To be added</summary>
        <param name="path">a <see cref="T:System.String" /></param>
        <param name="argc">a <see cref="T:System.Int32" /></param>
        <param name="argv">a <see cref="T:System.String[]" /></param>
        <param name="priv">a <see cref="T:System.Boolean" /></param>
        <remarks></remarks>
      </Docs>
    </Member>
    <Member MemberName="InitIteratorSections_">
      <MemberSignature Language="C#" Value="public static IntPtr InitIteratorSections_ (string path, System.Boolean" /> priv);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.IntPtr</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="path" Type="System.String" />
        <Parameter Name="priv" Type="System.Boolean" />
      </Parameters>
      <Docs>
        <summary>To be added</summary>
        <param name="path">a <see cref="T:System.String" /></param>
        <param name="priv">a <see cref="T:System.Boolean" /></param>
        <returns>a <see cref="T:System.IntPtr" /></returns>
        <remarks></remarks>
      </Docs>
    </Member>
    <Member MemberName="SetTranslatedString_">
      <MemberSignature Language="C#" Value="public static void SetTranslatedString_ (string path, string value, System.Boolean" /> priv);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="path" Type="System.String" />
        <Parameter Name="value" Type="System.String" />
        <Parameter Name="priv" Type="System.Boolean" />
      </Parameters>
      <Docs>
        <summary>To be added</summary>
        <param name="path">a <see cref="T:System.String" /></param>
        <param name="value">a <see cref="T:System.String" /></param>
        <param name="priv">a <see cref="T:System.Boolean" /></param>
        <remarks></remarks>
      </Docs>
    </Member>
    <Member MemberName="PopPrefix">
      <MemberSignature Language="C#" Value="public static void PopPrefix ();" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>To be added</summary>
        <remarks></remarks>
      </Docs>
    </Member>
    <Member MemberName="CleanFile_">
      <MemberSignature Language="C#" Value="public static void CleanFile_ (string path, System.Boolean" /> priv);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="path" Type="System.String" />
        <Parameter Name="priv" Type="System.Boolean" />
      </Parameters>
      <Docs>
        <summary>To be added</summary>
        <param name="path">a <see cref="T:System.String" /></param>
        <param name="priv">a <see cref="T:System.Boolean" /></param>
        <remarks></remarks>
      </Docs>
    </Member>
    <Member MemberName="AssembleVector">
      <MemberSignature Language="C#" Value="public static string AssembleVector (int argc, string argv);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="argc" Type="System.Int32" />
        <Parameter Name="argv" Type="System.String" />
      </Parameters>
      <Docs>
        <summary>To be added</summary>
        <param name="argc">a <see cref="T:System.Int32" /></param>
        <param name="argv">a <see cref="T:System.String" /></param>
        <returns>a <see cref="T:System.String" /></returns>
        <remarks></remarks>
      </Docs>
    </Member>
    <Member MemberName="SetFloat_">
      <MemberSignature Language="C#" Value="public static void SetFloat_ (string path, double value, System.Boolean" /> priv);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="path" Type="System.String" />
        <Parameter Name="value" Type="System.Double" />
        <Parameter Name="priv" Type="System.Boolean" />
      </Parameters>
      <Docs>
        <summary>To be added</summary>
        <param name="path">a <see cref="T:System.String" /></param>
        <param name="value">a <see cref="T:System.Double" /></param>
        <param name="priv">a <see cref="T:System.Boolean" /></param>
        <remarks></remarks>
      </Docs>
    </Member>
    <Member MemberName="HasSection_">
      <MemberSignature Language="C#" Value="public static System.Boolean" /> HasSection_ (string path, System.Boolean" /> priv);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Boolean</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="path" Type="System.String" />
        <Parameter Name="priv" Type="System.Boolean" />
      </Parameters>
      <Docs>
        <summary>To be added</summary>
        <param name="path">a <see cref="T:System.String" /></param>
        <param name="priv">a <see cref="T:System.Boolean" /></param>
        <returns>a <see cref="T:System.Boolean" /></returns>
        <remarks></remarks>
      </Docs>
    </Member>
    <Member MemberName="SyncFile_">
      <MemberSignature Language="C#" Value="public static System.Boolean" /> SyncFile_ (string path, System.Boolean" /> priv);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Boolean</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="path" Type="System.String" />
        <Parameter Name="priv" Type="System.Boolean" />
      </Parameters>
      <Docs>
        <summary>To be added</summary>
        <param name="path">a <see cref="T:System.String" /></param>
        <param name="priv">a <see cref="T:System.Boolean" /></param>
        <returns>a <see cref="T:System.Boolean" /></returns>
        <remarks></remarks>
      </Docs>
    </Member>
    <Member MemberName="CleanSection_">
      <MemberSignature Language="C#" Value="public static void CleanSection_ (string path, System.Boolean" /> priv);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="path" Type="System.String" />
        <Parameter Name="priv" Type="System.Boolean" />
      </Parameters>
      <Docs>
        <summary>To be added</summary>
        <param name="path">a <see cref="T:System.String" /></param>
        <param name="priv">a <see cref="T:System.Boolean" /></param>
        <remarks></remarks>
      </Docs>
    </Member>
    <Member MemberName="SetString_">
      <MemberSignature Language="C#" Value="public static void SetString_ (string path, string value, System.Boolean" /> priv);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="path" Type="System.String" />
        <Parameter Name="value" Type="System.String" />
        <Parameter Name="priv" Type="System.Boolean" />
      </Parameters>
      <Docs>
        <summary>To be added</summary>
        <param name="path">a <see cref="T:System.String" /></param>
        <param name="value">a <see cref="T:System.String" /></param>
        <param name="priv">a <see cref="T:System.Boolean" /></param>
        <remarks></remarks>
      </Docs>
    </Member>
    <Member MemberName="DropAll">
      <MemberSignature Language="C#" Value="public static void DropAll ();" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>To be added</summary>
        <remarks></remarks>
      </Docs>
    </Member>
    <Member MemberName="CleanKey_">
      <MemberSignature Language="C#" Value="public static void CleanKey_ (string path, System.Boolean" /> priv);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="path" Type="System.String" />
        <Parameter Name="priv" Type="System.Boolean" />
      </Parameters>
      <Docs>
        <summary>To be added</summary>
        <param name="path">a <see cref="T:System.String" /></param>
        <param name="priv">a <see cref="T:System.Boolean" /></param>
        <remarks></remarks>
      </Docs>
    </Member>
    <Member MemberName="SetBool_">
      <MemberSignature Language="C#" Value="public static void SetBool_ (string path, System.Boolean" /> value, System.Boolean" /> priv);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="path" Type="System.String" />
        <Parameter Name="value" Type="System.Boolean" />
        <Parameter Name="priv" Type="System.Boolean" />
      </Parameters>
      <Docs>
        <summary>To be added</summary>
        <param name="path">a <see cref="T:System.String" /></param>
        <param name="value">a <see cref="T:System.Boolean" /></param>
        <param name="priv">a <see cref="T:System.Boolean" /></param>
        <remarks></remarks>
      </Docs>
    </Member>
    <Member MemberName="SetInt_">
      <MemberSignature Language="C#" Value="public static void SetInt_ (string path, int value, System.Boolean" /> priv);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="path" Type="System.String" />
        <Parameter Name="value" Type="System.Int32" />
        <Parameter Name="priv" Type="System.Boolean" />
      </Parameters>
      <Docs>
        <summary>To be added</summary>
        <param name="path">a <see cref="T:System.String" /></param>
        <param name="value">a <see cref="T:System.Int32" /></param>
        <param name="priv">a <see cref="T:System.Boolean" /></param>
        <remarks></remarks>
      </Docs>
    </Member>
    <Member MemberName="DropFile_">
      <MemberSignature Language="C#" Value="public static void DropFile_ (string path, System.Boolean" /> priv);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="path" Type="System.String" />
        <Parameter Name="priv" Type="System.Boolean" />
      </Parameters>
      <Docs>
        <summary>To be added</summary>
        <param name="path">a <see cref="T:System.String" /></param>
        <param name="priv">a <see cref="T:System.Boolean" /></param>
        <remarks></remarks>
      </Docs>
    </Member>
    <Member MemberName="Sync">
      <MemberSignature Language="C#" Value="public static System.Boolean" /> Sync ();" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Boolean</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>To be added</summary>
        <returns>a <see cref="T:System.Boolean" /></returns>
        <remarks></remarks>
      </Docs>
    </Member>
    <Member MemberName="InitIterator_">
      <MemberSignature Language="C#" Value="public static IntPtr InitIterator_ (string path, System.Boolean" /> priv);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.IntPtr</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="path" Type="System.String" />
        <Parameter Name="priv" Type="System.Boolean" />
      </Parameters>
      <Docs>
        <summary>To be added</summary>
        <param name="path">a <see cref="T:System.String" /></param>
        <param name="priv">a <see cref="T:System.Boolean" /></param>
        <returns>a <see cref="T:System.IntPtr" /></returns>
        <remarks></remarks>
      </Docs>
    </Member>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="public Config ();" />
      <MemberType>Constructor</MemberType>
      <ReturnValue />
      <Parameters />
      <Docs>
        <summary>To be added</summary>
        <returns>a <see cref="T:Gnome.Config" /></returns>
        <remarks></remarks>
      </Docs>
    </Member>
    <Member MemberName="GetBoolWithDefault_">
      <MemberSignature Language="C#" Value="public static System.Boolean" /> GetBoolWithDefault_ (string path, out System.Boolean" /> def, System.Boolean" /> priv);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Boolean</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="path" Type="System.String" />
        <Parameter Name="def" Type="System.Boolean&amp;" RefType="out" />
        <Parameter Name="priv" Type="System.Boolean" />
      </Parameters>
      <Docs>
        <summary>To be added</summary>
        <param name="path">a <see cref="T:System.String" /></param>
        <param name="def">a <see cref="T:System.Boolean&amp;" /></param>
        <param name="priv">a <see cref="T:System.Boolean" /></param>
        <returns>a <see cref="T:System.Boolean" /></returns>
        <remarks></remarks>
      </Docs>
    </Member>
    <Member MemberName="GetIntWithDefault_">
      <MemberSignature Language="C#" Value="public static int GetIntWithDefault_ (string path, out System.Boolean" /> def, System.Boolean" /> priv);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Int32</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="path" Type="System.String" />
        <Parameter Name="def" Type="System.Boolean&amp;" RefType="out" />
        <Parameter Name="priv" Type="System.Boolean" />
      </Parameters>
      <Docs>
        <summary>To be added</summary>
        <param name="path">a <see cref="T:System.String" /></param>
        <param name="def">a <see cref="T:System.Boolean&amp;" /></param>
        <param name="priv">a <see cref="T:System.Boolean" /></param>
        <returns>a <see cref="T:System.Int32" /></returns>
        <remarks></remarks>
      </Docs>
    </Member>
    <Member MemberName="GetTranslatedStringWithDefault_">
      <MemberSignature Language="C#" Value="public static string GetTranslatedStringWithDefault_ (string path, out System.Boolean" /> def, System.Boolean" /> priv);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="path" Type="System.String" />
        <Parameter Name="def" Type="System.Boolean&amp;" RefType="out" />
        <Parameter Name="priv" Type="System.Boolean" />
      </Parameters>
      <Docs>
        <summary>To be added</summary>
        <param name="path">a <see cref="T:System.String" /></param>
        <param name="def">a <see cref="T:System.Boolean&amp;" /></param>
        <param name="priv">a <see cref="T:System.Boolean" /></param>
        <returns>a <see cref="T:System.String" /></returns>
        <remarks></remarks>
      </Docs>
    </Member>
    <Member MemberName="GetVectorWithDefault_">
      <MemberSignature Language="C#" Value="public static void GetVectorWithDefault_ (string path, out int argcp, string argvp, out System.Boolean" /> def, System.Boolean" /> priv);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="path" Type="System.String" />
        <Parameter Name="argcp" Type="System.Int32&amp;" RefType="out" />
        <Parameter Name="argvp" Type="System.String" />
        <Parameter Name="def" Type="System.Boolean&amp;" RefType="out" />
        <Parameter Name="priv" Type="System.Boolean" />
      </Parameters>
      <Docs>
        <summary>To be added</summary>
        <param name="path">a <see cref="T:System.String" /></param>
        <param name="argcp">a <see cref="T:System.Int32&amp;" /></param>
        <param name="argvp">a <see cref="T:System.String" /></param>
        <param name="def">a <see cref="T:System.Boolean&amp;" /></param>
        <param name="priv">a <see cref="T:System.Boolean" /></param>
        <remarks></remarks>
      </Docs>
    </Member>
    <Member MemberName="GetStringWithDefault_">
      <MemberSignature Language="C#" Value="public static string GetStringWithDefault_ (string path, out System.Boolean" /> def, System.Boolean" /> priv);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="path" Type="System.String" />
        <Parameter Name="def" Type="System.Boolean&amp;" RefType="out" />
        <Parameter Name="priv" Type="System.Boolean" />
      </Parameters>
      <Docs>
        <summary>To be added</summary>
        <param name="path">a <see cref="T:System.String" /></param>
        <param name="def">a <see cref="T:System.Boolean&amp;" /></param>
        <param name="priv">a <see cref="T:System.Boolean" /></param>
        <returns>a <see cref="T:System.String" /></returns>
        <remarks></remarks>
      </Docs>
    </Member>
    <Member MemberName="GetFloatWithDefault_">
      <MemberSignature Language="C#" Value="public static double GetFloatWithDefault_ (string path, out System.Boolean" /> def, System.Boolean" /> priv);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Double</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="path" Type="System.String" />
        <Parameter Name="def" Type="System.Boolean&amp;" RefType="out" />
        <Parameter Name="priv" Type="System.Boolean" />
      </Parameters>
      <Docs>
        <summary>To be added</summary>
        <param name="path">a <see cref="T:System.String" /></param>
        <param name="def">a <see cref="T:System.Boolean&amp;" /></param>
        <param name="priv">a <see cref="T:System.Boolean" /></param>
        <returns>a <see cref="T:System.Double" /></returns>
        <remarks></remarks>
      </Docs>
    </Member>
    <Member MemberName="MakeVector">
      <MemberSignature Language="C#" Value="public static int MakeVector (string str1ng, string argvp);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Int32</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="str1ng" Type="System.String" />
        <Parameter Name="argvp" Type="System.String" />
      </Parameters>
      <Docs>
        <summary>To be added</summary>
        <param name="str1ng">a <see cref="T:System.String" /></param>
        <param name="argvp">a <see cref="T:System.String" /></param>
        <returns>a <see cref="T:System.Int32" /></returns>
        <remarks></remarks>
      </Docs>
    </Member>
  </Members>
</Type>