<Type Name="Config" FullName="Gda.Config">
  <TypeSignature Language="C#" Value="public class Config" Maintainer="auto" />
  <AssemblyInfo>
    <AssemblyName>gda-sharp</AssemblyName>
    <AssemblyPublicKey>
    </AssemblyPublicKey>
    <AssemblyVersion>0.0.0.0</AssemblyVersion>
    <AssemblyCulture>neutral</AssemblyCulture>
    <Attributes />
  </AssemblyInfo>
  <ThreadSafetyStatement>Gtk# is thread aware, but not thread safe; See the <link location="node:gtk-sharp/programming/threads">Gtk# Thread Programming</link> for details.</ThreadSafetyStatement>
  <Docs>
    <summary>
      <para>
 The functions in this section allow applications an easy access to the libgda configuration, thus making them able to access the list of data sources configured in the system, for instance.
</para>
    </summary>
    <remarks>To be added</remarks>
  </Docs>
  <Base>
    <BaseTypeName>System.Object</BaseTypeName>
  </Base>
  <Interfaces />
  <Attributes />
  <Members>
    <Member MemberName="GetGType">
      <MemberSignature Language="C#" Value="public static string GetGType (string path);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="path" Type="System.String" />
      </Parameters>
      <Docs>
        <summary>
          <para>
Gets a string representing the type of the value of the given key. 
</para>
        </summary>
        <param name="path">a <see cref="T:System.String" /></param>
        <returns>a <see cref="T:System.String" /></returns>
        <remarks>To be added</remarks>
      </Docs>
    </Member>
    <Member MemberName="CopyDataSourceInfo">
      <MemberSignature Language="C#" Value="public static Gda.DataSourceInfo CopyDataSourceInfo (Gda.DataSourceInfo info);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>Gda.DataSourceInfo</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="info" Type="Gda.DataSourceInfo" />
      </Parameters>
      <Docs>
        <summary>To be added</summary>
        <param name="info">a <see cref="T:Gda.DataSourceInfo" /></param>
        <returns>a <see cref="T:Gda.DataSourceInfo" /></returns>
        <remarks>To be added</remarks>
      </Docs>
    </Member>
    <Member MemberName="FreeDataSourceInfo">
      <MemberSignature Language="C#" Value="public static void FreeDataSourceInfo (Gda.DataSourceInfo info);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="info" Type="Gda.DataSourceInfo" />
      </Parameters>
      <Docs>
        <summary>To be added</summary>
        <param name="info">a <see cref="T:Gda.DataSourceInfo" /></param>
        <remarks>To be added</remarks>
      </Docs>
    </Member>
    <Member MemberName="ListSections">
      <MemberSignature Language="C#" Value="public static GLib.List ListSections (string path);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>GLib.List</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="path" Type="System.String" />
      </Parameters>
      <Docs>
        <summary>
          <para>
Returns a GList containing the names of all the sections available under the given root directory.
</para>
        </summary>
        <param name="path">a <see cref="T:System.String" /></param>
        <returns>a <see cref="T:GLib.List" /></returns>
        <remarks>To be added</remarks>
      </Docs>
    </Member>
    <Member MemberName="FreeList">
      <MemberSignature Language="C#" Value="public static void FreeList (GLib.List list);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="list" Type="GLib.List" />
      </Parameters>
      <Docs>
        <summary>To be added</summary>
        <param name="list">a <see cref="T:GLib.List" /></param>
        <remarks>To be added</remarks>
      </Docs>
    </Member>
    <Member MemberName="SetInt">
      <MemberSignature Language="C#" Value="public static void SetInt (string path, int new_value);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="path" Type="System.String" />
        <Parameter Name="new_value" Type="System.Int32" />
      </Parameters>
      <Docs>
        <summary>
          <para>
Sets the given configuration entry to contain an integer.
</para>
        </summary>
        <param name="path">a <see cref="T:System.String" /></param>
        <param name="new_value">a <see cref="T:System.Int32" /></param>
        <remarks>To be added</remarks>
      </Docs>
    </Member>
    <Member MemberName="FindDataSource">
      <MemberSignature Language="C#" Value="public static Gda.DataSourceInfo FindDataSource (string name);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>Gda.DataSourceInfo</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="name" Type="System.String" />
      </Parameters>
      <Docs>
        <summary>To be added</summary>
        <param name="name">a <see cref="T:System.String" /></param>
        <returns>a <see cref="T:Gda.DataSourceInfo" /></returns>
        <remarks>To be added</remarks>
      </Docs>
    </Member>
    <Member MemberName="RemoveKey">
      <MemberSignature Language="C#" Value="public static void RemoveKey (string path);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="path" Type="System.String" />
      </Parameters>
      <Docs>
        <summary>
          <para>
Removes the given entry from the configuration database.
</para>
        </summary>
        <param name="path">a <see cref="T:System.String" /></param>
        <remarks>
          <para>
If the section is empty, also remove the section.
</para>
        </remarks>
      </Docs>
    </Member>
    <Member MemberName="RemoveSection">
      <MemberSignature Language="C#" Value="public static void RemoveSection (string path);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="path" Type="System.String" />
      </Parameters>
      <Docs>
        <summary>
          <para>
Removes the given section from the configuration database.
</para>
        </summary>
        <param name="path">a <see cref="T:System.String" /></param>
        <remarks>To be added</remarks>
      </Docs>
    </Member>
    <Member MemberName="SetBoolean">
      <MemberSignature Language="C#" Value="public static void SetBoolean (string path, bool new_value);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="path" Type="System.String" />
        <Parameter Name="new_value" Type="System.Boolean" />
      </Parameters>
      <Docs>
        <summary>
          <para>
Sets the given configuration entry to contain a boolean.
</para>
        </summary>
        <param name="path">a <see cref="T:System.String" /></param>
        <param name="new_value">a <see cref="T:System.Boolean" /></param>
        <remarks>To be added</remarks>
      </Docs>
    </Member>
    <Member MemberName="FreeDataSourceList">
      <MemberSignature Language="C#" Value="public static void FreeDataSourceList (GLib.List list);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="list" Type="GLib.List" />
      </Parameters>
      <Docs>
        <summary>To be added</summary>
        <param name="list">a <see cref="T:GLib.List" /></param>
        <remarks>To be added</remarks>
      </Docs>
    </Member>
    <Member MemberName="SaveDataSource">
      <MemberSignature Language="C#" Value="public static void SaveDataSource (string name, string provider, string cnc_string, string description, string username, string password);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="name" Type="System.String" />
        <Parameter Name="provider" Type="System.String" />
        <Parameter Name="cnc_string" Type="System.String" />
        <Parameter Name="description" Type="System.String" />
        <Parameter Name="username" Type="System.String" />
        <Parameter Name="password" Type="System.String" />
      </Parameters>
      <Docs>
        <summary>To be added</summary>
        <param name="name">a <see cref="T:System.String" /></param>
        <param name="provider">a <see cref="T:System.String" /></param>
        <param name="cnc_string">a <see cref="T:System.String" /></param>
        <param name="description">a <see cref="T:System.String" /></param>
        <param name="username">a <see cref="T:System.String" /></param>
        <param name="password">a <see cref="T:System.String" /></param>
        <remarks>To be added</remarks>
      </Docs>
    </Member>
    <Member MemberName="RemoveListener">
      <MemberSignature Language="C#" Value="public static void RemoveListener (uint id);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="id" Type="System.UInt32" />
      </Parameters>
      <Docs>
        <summary>
          <para>
Removes a configuration listener previously installed, given its ID.
</para>
        </summary>
        <param name="id">a <see cref="T:System.UInt32" /></param>
        <remarks>To be added</remarks>
      </Docs>
    </Member>
    <Member MemberName="ListKeys">
      <MemberSignature Language="C#" Value="public static GLib.List ListKeys (string path);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>GLib.List</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="path" Type="System.String" />
      </Parameters>
      <Docs>
        <summary>
          <para>
Returns a list of all keys that exist under the given path.
</para>
        </summary>
        <param name="path">a <see cref="T:System.String" /></param>
        <returns>a <see cref="T:GLib.List" /></returns>
        <remarks>To be added</remarks>
      </Docs>
    </Member>
    <Member MemberName="GetBoolean">
      <MemberSignature Language="C#" Value="public static bool GetBoolean (string path);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Boolean</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="path" Type="System.String" />
      </Parameters>
      <Docs>
        <summary>
          <para>
Gets the value of the specified configuration entry as a float.
</para>
        </summary>
        <param name="path">a <see cref="T:System.String" /></param>
        <returns>a <see cref="T:System.Boolean" /></returns>
        <remarks>To be added</remarks>
      </Docs>
    </Member>
    <Member MemberName="GetFloat">
      <MemberSignature Language="C#" Value="public static double GetFloat (string path);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Double</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="path" Type="System.String" />
      </Parameters>
      <Docs>
        <summary>
          <para>
Gets the value of the specified configuration entry as a float.
</para>
        </summary>
        <param name="path">a <see cref="T:System.String" /></param>
        <returns>a <see cref="T:System.Double" /></returns>
        <remarks>To be added</remarks>
      </Docs>
    </Member>
    <Member MemberName="FreeProviderList">
      <MemberSignature Language="C#" Value="public static void FreeProviderList (GLib.List list);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="list" Type="GLib.List" />
      </Parameters>
      <Docs>
        <summary>To be added</summary>
        <param name="list">a <see cref="T:GLib.List" /></param>
        <remarks>To be added</remarks>
      </Docs>
    </Member>
    <Member MemberName="HasSection">
      <MemberSignature Language="C#" Value="public static bool HasSection (string path);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Boolean</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="path" Type="System.String" />
      </Parameters>
      <Docs>
        <summary>
          <para>
Checks whether the given section exists in the configuration system.
</para>
        </summary>
        <param name="path">a <see cref="T:System.String" /></param>
        <returns>a <see cref="T:System.Boolean" /></returns>
        <remarks>To be added</remarks>
      </Docs>
    </Member>
    <Member MemberName="RemoveDataSource">
      <MemberSignature Language="C#" Value="public static void RemoveDataSource (string name);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="name" Type="System.String" />
      </Parameters>
      <Docs>
        <summary>To be added</summary>
        <param name="name">a <see cref="T:System.String" /></param>
        <remarks>To be added</remarks>
      </Docs>
    </Member>
    <Member MemberName="GetProviderByName">
      <MemberSignature Language="C#" Value="public static Gda.ProviderInfo GetProviderByName (string name);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>Gda.ProviderInfo</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="name" Type="System.String" />
      </Parameters>
      <Docs>
        <summary>To be added</summary>
        <param name="name">a <see cref="T:System.String" /></param>
        <returns>a <see cref="T:Gda.ProviderInfo" /></returns>
        <remarks>To be added</remarks>
      </Docs>
    </Member>
    <Member MemberName="AddListener">
      <MemberSignature Language="C#" Value="public static uint AddListener (string path, Gda.ConfigListenerFunc func);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.UInt32</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="path" Type="System.String" />
        <Parameter Name="func" Type="Gda.ConfigListenerFunc" />
      </Parameters>
      <Docs>
        <summary>
          <para>
Installs a configuration listener, which is a callback function which will be called every time a change occurs on a given configuration entry.
</para>
        </summary>
        <param name="path">a <see cref="T:System.String" /></param>
        <param name="func">a <see cref="T:Gda.ConfigListenerFunc" /></param>
        <returns>a <see cref="T:System.UInt32" /></returns>
        <remarks>To be added</remarks>
      </Docs>
    </Member>
    <Member MemberName="SetFloat">
      <MemberSignature Language="C#" Value="public static void SetFloat (string path, double new_value);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="path" Type="System.String" />
        <Parameter Name="new_value" Type="System.Double" />
      </Parameters>
      <Docs>
        <summary>
          <para>
Sets the given configuration entry to contain a float.
</para>
        </summary>
        <param name="path">a <see cref="T:System.String" /></param>
        <param name="new_value">a <see cref="T:System.Double" /></param>
        <remarks>To be added</remarks>
      </Docs>
    </Member>
    <Member MemberName="GetInt">
      <MemberSignature Language="C#" Value="public static int GetInt (string path);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Int32</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="path" Type="System.String" />
      </Parameters>
      <Docs>
        <summary>
          <para>
Gets the value of the specified configuration entry as an integer.
</para>
        </summary>
        <param name="path">a <see cref="T:System.String" /></param>
        <returns>a <see cref="T:System.Int32" /></returns>
        <remarks>To be added</remarks>
      </Docs>
    </Member>
    <Member MemberName="HasKey">
      <MemberSignature Language="C#" Value="public static bool HasKey (string path);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Boolean</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="path" Type="System.String" />
      </Parameters>
      <Docs>
        <summary>
          <para>
Checks whether the given key exists in the configuration system.
</para>
        </summary>
        <param name="path">a <see cref="T:System.String" /></param>
        <returns>a <see cref="T:System.Boolean" /></returns>
        <remarks>To be added</remarks>
      </Docs>
    </Member>
    <Member MemberName="SaveDataSourceInfo">
      <MemberSignature Language="C#" Value="public static void SaveDataSourceInfo (Gda.DataSourceInfo dsn_info);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="dsn_info" Type="Gda.DataSourceInfo" />
      </Parameters>
      <Docs>
        <summary>To be added</summary>
        <param name="dsn_info">a <see cref="T:Gda.DataSourceInfo" /></param>
        <remarks>To be added</remarks>
      </Docs>
    </Member>
    <Member MemberName="SetString">
      <MemberSignature Language="C#" Value="public static void SetString (string path, string new_value);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="path" Type="System.String" />
        <Parameter Name="new_value" Type="System.String" />
      </Parameters>
      <Docs>
        <summary>
          <para>
Sets the given configuration entry to contain a string.
</para>
        </summary>
        <param name="path">a <see cref="T:System.String" /></param>
        <param name="new_value">a <see cref="T:System.String" /></param>
        <remarks>To be added</remarks>
      </Docs>
    </Member>
    <Member MemberName="FreeProviderInfo">
      <MemberSignature Language="C#" Value="public static void FreeProviderInfo (Gda.ProviderInfo provider_info);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="provider_info" Type="Gda.ProviderInfo" />
      </Parameters>
      <Docs>
        <summary>To be added</summary>
        <param name="provider_info">a <see cref="T:Gda.ProviderInfo" /></param>
        <remarks>To be added</remarks>
      </Docs>
    </Member>
    <Member MemberName="GetString">
      <MemberSignature Language="C#" Value="public static string GetString (string path);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="path" Type="System.String" />
      </Parameters>
      <Docs>
        <summary>
          <para>
Gets the value of the specified configuration entry as a string.
</para>
        </summary>
        <param name="path">a <see cref="T:System.String" /></param>
        <returns>a <see cref="T:System.String" /></returns>
        <remarks>To be added</remarks>
      </Docs>
    </Member>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="public Config ();" />
      <MemberType>Constructor</MemberType>
      <ReturnValue />
      <Parameters />
      <Docs>
        <summary>To be added</summary>
        <returns>a <see cref="T:Gda.Config" /></returns>
        <remarks>To be added</remarks>
      </Docs>
    </Member>
    <Member MemberName="ProviderList">
      <MemberSignature Language="C#" Value="public static GLib.List ProviderList { get; };" />
      <MemberType>Property</MemberType>
      <ReturnValue>
        <ReturnType>GLib.List</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>To be added</summary>
        <returns>a <see cref="T:GLib.List" /></returns>
        <remarks>To be added</remarks>
      </Docs>
    </Member>
    <Member MemberName="DataSourceModel">
      <MemberSignature Language="C#" Value="public static Gda.DataModel DataSourceModel { get; };" />
      <MemberType>Property</MemberType>
      <ReturnValue>
        <ReturnType>Gda.DataModel</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>To be added</summary>
        <returns>a <see cref="T:Gda.DataModel" /></returns>
        <remarks>To be added</remarks>
      </Docs>
    </Member>
    <Member MemberName="DataSourceList">
      <MemberSignature Language="C#" Value="public static GLib.List DataSourceList { get; };" />
      <MemberType>Property</MemberType>
      <ReturnValue>
        <ReturnType>GLib.List</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>To be added</summary>
        <returns>a <see cref="T:GLib.List" /></returns>
        <remarks>To be added</remarks>
      </Docs>
    </Member>
  </Members>
</Type>