<Type Name="Context" FullName="Pango.Context">
  <TypeSignature Language="C#" Maintainer="auto" Value="public class Context : GLib.Object" />
  <AssemblyInfo>
    <AssemblyName>pango-sharp</AssemblyName>
    <AssemblyPublicKey>
    </AssemblyPublicKey>
    <AssemblyVersion>2.12.0.0</AssemblyVersion>
  </AssemblyInfo>
  <ThreadSafetyStatement>Gtk# is thread aware, but not thread safe; See the <link location="node:gtk-sharp/programming/threads">Gtk# Thread Programming</link> for details.</ThreadSafetyStatement>
  <Docs>
    <summary>Stores global information used to control the itemization process.</summary>
    <remarks />
  </Docs>
  <Base>
    <BaseTypeName>GLib.Object</BaseTypeName>
  </Base>
  <Interfaces>
  </Interfaces>
  <Members>
    <Member MemberName="LoadFont">
      <MemberSignature Language="C#" Value="public Pango.Font LoadFont (Pango.FontDescription desc);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>Pango.Font</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="desc" Type="Pango.FontDescription" />
      </Parameters>
      <Docs>
        <summary>Loads the font in one of the fontmaps in the context that is the closest match for <paramref name="desc" />.</summary>
        <param name="desc">an object of type <see cref="T:Pango.FontDescription" /> describing the font to load</param>
        <returns>the font loaded, or <see langword="null" /> if no font matched.</returns>
        <remarks />
      </Docs>
    </Member>
    <Member MemberName="GetMetrics">
      <MemberSignature Language="C#" Value="public Pango.FontMetrics GetMetrics (Pango.FontDescription desc, Pango.Language language);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>Pango.FontMetrics</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="desc" Type="Pango.FontDescription" />
        <Parameter Name="language" Type="Pango.Language" />
      </Parameters>
      <Docs>
        <summary>Get overall metric information for a font particular font description.</summary>
        <param name="desc">an object of type <see cref="T:Pango.FontDescription" /></param>
        <param name="language"> language tag used to determine which script to get the metrics for, or <see langword="null" /> to indicate to get the metrics for the entire font.</param>
        <returns> a <see cref="T:Pango.Metrics" /> object.</returns>
        <remarks>Since the metrics may be substantially different for different scripts, a language tag can be provided to indicate that the metrics should be retrieved that correspond to the script(s) used by that language.

<para>The <see cref="T:Pango.FontDescription" /> is interpreted in the same way as by pango_itemize(), and the family name may be a comma separated list of figures. If characters from multiple of these families would be used to render the string, then the returned fonts would be a composite of the metrics for the fonts loaded for the individual families.
</para></remarks>
      </Docs>
    </Member>
    <Member MemberName="LoadFontset">
      <MemberSignature Language="C#" Value="public Pango.Fontset LoadFontset (Pango.FontDescription desc, Pango.Language language);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>Pango.Fontset</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="desc" Type="Pango.FontDescription" />
        <Parameter Name="language" Type="Pango.Language" />
      </Parameters>
      <Docs>
        <summary>Load a set of fonts in the context that can be used to render a font matching <paramref name="desc" />.</summary>
        <param name="desc">an object of type <see cref="T:Pango.FontDescription" /> describing the fonts to load</param>
        <param name="language">an object of type <see cref="T:Pango.Language" /> the fonts will be used for</param>
        <returns>the fontset, or <see langword="null" /> if no font matched.</returns>
        <remarks />
      </Docs>
    </Member>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="public Context (IntPtr raw);" />
      <MemberType>Constructor</MemberType>
      <ReturnValue />
      <Parameters>
        <Parameter Name="raw" Type="System.IntPtr" />
      </Parameters>
      <Docs>
        <summary>Internal constructor</summary>
        <param name="raw">Pointer to the C object.</param>
        <remarks>
          <para>This is an internal constructor, and should not be used by user code.</para>
        </remarks>
      </Docs>
    </Member>
    <Member MemberName="FontDescription">
      <MemberSignature Language="C#" Value="public Pango.FontDescription FontDescription { set; get; };" />
      <MemberType>Property</MemberType>
      <ReturnValue>
        <ReturnType>Pango.FontDescription</ReturnType>
      </ReturnValue>
      <Parameters>
      </Parameters>
      <Docs>
        <summary>The default font description for the context.</summary>
        <value>the context's default font description.</value>
        <remarks />
      </Docs>
    </Member>
    <Member MemberName="Language">
      <MemberSignature Language="C#" Value="public Pango.Language Language { set; get; };" />
      <MemberType>Property</MemberType>
      <ReturnValue>
        <ReturnType>Pango.Language</ReturnType>
      </ReturnValue>
      <Parameters>
      </Parameters>
      <Docs>
        <summary>The global language tag for the context.</summary>
        <value> the global language tag.</value>
        <remarks />
      </Docs>
    </Member>
    <Member MemberName="BaseDir">
      <MemberSignature Language="C#" Value="public Pango.Direction BaseDir { set; get; };" />
      <MemberType>Property</MemberType>
      <ReturnValue>
        <ReturnType>Pango.Direction</ReturnType>
      </ReturnValue>
      <Parameters>
      </Parameters>
      <Docs>
        <summary>The base direction for the context.</summary>
        <value>the base direction</value>
        <remarks>The base direction is used in applying the Unicode bidirectional algorithm; if the direction is <see cref="F:Pango.Direction.Ltr" /> or <see cref="F:Pango.Direction.Rtl" />, then the value will be used as the paragraph direction in the Unicode bidirectional algorithm.</remarks>
      </Docs>
    </Member>
    <Member MemberName="GType">
      <MemberSignature Language="C#" Value="public static GLib.GType GType { get; };" />
      <MemberType>Property</MemberType>
      <ReturnValue>
        <ReturnType>GLib.GType</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>GType Property.</summary>
        <value>a <see cref="T:GLib.GType" /></value>
        <remarks>Returns the native <see cref="T:GLib.GType" /> value for <see cref="T:Pango.Context" />.</remarks>
      </Docs>
    </Member>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="protected Context (GLib.GType gtype);" />
      <MemberType>Constructor</MemberType>
      <ReturnValue />
      <Parameters>
        <Parameter Name="gtype" Type="GLib.GType" />
      </Parameters>
      <Docs>
        <summary>Protected Constructor.</summary>
        <param name="gtype">a <see cref="T:GLib.GType" /></param>
        <remarks>Chain to this constructor if you have manually registered a native <see cref="T:GLib.GType" /> value for your subclass.</remarks>
      </Docs>
      <Attributes>
        <Attribute>
          <AttributeName>System.Obsolete</AttributeName>
        </Attribute>
      </Attributes>
    </Member>
    <Member MemberName="ListFamilies">
      <MemberSignature Language="C#" Value="public int ListFamilies (Pango.FontFamily families);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Int32</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="families" Type="Pango.FontFamily" />
      </Parameters>
      <Docs>
        <summary>List all families for a context.</summary>
        <param name="families">a <see cref="T:Pango.FontFamily" /></param>
        <returns>the number of families</returns>
        <remarks />
      </Docs>
    </Member>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="protected Context ();" />
      <MemberType>Constructor</MemberType>
      <ReturnValue />
      <Parameters />
      <Docs>
        <summary>Internal constructor</summary>
        <remarks>This is an internal constructor, and should not be used by user code.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Families">
      <MemberSignature Language="C#" Value="public Pango.FontFamily[] Families { get; };" />
      <MemberType>Property</MemberType>
      <ReturnValue>
        <ReturnType>Pango.FontFamily[]</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>Returns an array of Font Families.</summary>
        <value>a <see cref="T:Pango.FontFamily[]" /></value>
        <remarks>
        </remarks>
      </Docs>
    </Member>
    <Member MemberName="FontMap">
      <MemberSignature Language="C#" Value="public Pango.FontMap FontMap { get; };" />
      <MemberType>Property</MemberType>
      <ReturnValue>
        <ReturnType>Pango.FontMap</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>To be added</summary>
        <value>a <see cref="T:Pango.FontMap" /></value>
        <remarks>To be added</remarks>
        <since version="Gtk# 2.6" />
      </Docs>
    </Member>
    <Member MemberName="Matrix">
      <MemberSignature Language="C#" Value="public Pango.Matrix Matrix { set; get; };" />
      <MemberType>Property</MemberType>
      <ReturnValue>
        <ReturnType>Pango.Matrix</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>To be added</summary>
        <value>a <see cref="T:Pango.Matrix" /></value>
        <remarks>To be added</remarks>
        <since version="Gtk# 2.6" />
      </Docs>
    </Member>
    <Member MemberName="BaseGravity">
      <MemberSignature Language="C#" Value="public Pango.Gravity BaseGravity { set; get; };" />
      <MemberType>Property</MemberType>
      <ReturnValue>
        <ReturnType>Pango.Gravity</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>To be added.</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
        <since version="Gtk# 2.12" />
      </Docs>
    </Member>
    <Member MemberName="Gravity">
      <MemberSignature Language="C#" Value="public Pango.Gravity Gravity { get; };" />
      <MemberType>Property</MemberType>
      <ReturnValue>
        <ReturnType>Pango.Gravity</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>To be added.</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
        <since version="Gtk# 2.12" />
      </Docs>
    </Member>
    <Member MemberName="GravityHint">
      <MemberSignature Language="C#" Value="public Pango.GravityHint GravityHint { set; get; };" />
      <MemberType>Property</MemberType>
      <ReturnValue>
        <ReturnType>Pango.GravityHint</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>To be added.</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
        <since version="Gtk# 2.12" />
      </Docs>
    </Member>
  </Members>
</Type>
