<Type Name="Settings" FullName="GLib.Settings">
  <TypeSignature Language="C#" Value="public class Settings : GLib.Object" />
  <TypeSignature Language="ILAsm" Value=".class public auto ansi beforefieldinit Settings extends GLib.Object" />
  <AssemblyInfo>
    <AssemblyName>gio-sharp</AssemblyName>
  </AssemblyInfo>
  <Base>
    <BaseTypeName>GLib.Object</BaseTypeName>
  </Base>
  <Interfaces />
  <Docs>
    <summary>To be added.</summary>
    <remarks>To be added.</remarks>
    <since version="Gtk# 3.0" />
  </Docs>
  <Members>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="public Settings (IntPtr raw);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig specialname rtspecialname instance void .ctor(native int raw) cil managed" />
      <MemberType>Constructor</MemberType>
      <Parameters>
        <Parameter Name="raw" Type="System.IntPtr" />
      </Parameters>
      <Docs>
        <param name="raw">Native object pointer.</param>
        <summary>Internal constructor</summary>
        <remarks>This is not typically used by C# code.  Exposed primarily for use by language bindings to wrap native object instances.</remarks>
        <since version="Gtk# 3.0" />
      </Docs>
    </Member>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="public Settings (string schema);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig specialname rtspecialname instance void .ctor(string schema) cil managed" />
      <MemberType>Constructor</MemberType>
      <Parameters>
        <Parameter Name="schema" Type="System.String" />
      </Parameters>
      <Docs>
        <param name="schema">To be added.</param>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
        <since version="Gtk# 3.0" />
      </Docs>
    </Member>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="public Settings (string schema, GLib.SettingsBackend backend);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig specialname rtspecialname instance void .ctor(string schema, class GLib.SettingsBackend backend) cil managed" />
      <MemberType>Constructor</MemberType>
      <Parameters>
        <Parameter Name="schema" Type="System.String" />
        <Parameter Name="backend" Type="GLib.SettingsBackend" />
      </Parameters>
      <Docs>
        <param name="schema">To be added.</param>
        <param name="backend">To be added.</param>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
        <since version="Gtk# 3.0" />
      </Docs>
    </Member>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="public Settings (string schema, string path);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig specialname rtspecialname instance void .ctor(string schema, string path) cil managed" />
      <MemberType>Constructor</MemberType>
      <Parameters>
        <Parameter Name="schema" Type="System.String" />
        <Parameter Name="path" Type="System.String" />
      </Parameters>
      <Docs>
        <param name="schema">To be added.</param>
        <param name="path">To be added.</param>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
        <since version="Gtk# 3.0" />
      </Docs>
    </Member>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="public Settings (string schema, GLib.SettingsBackend backend, string path);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig specialname rtspecialname instance void .ctor(string schema, class GLib.SettingsBackend backend, string path) cil managed" />
      <MemberType>Constructor</MemberType>
      <Parameters>
        <Parameter Name="schema" Type="System.String" />
        <Parameter Name="backend" Type="GLib.SettingsBackend" />
        <Parameter Name="path" Type="System.String" />
      </Parameters>
      <Docs>
        <param name="schema">To be added.</param>
        <param name="backend">To be added.</param>
        <param name="path">To be added.</param>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
        <since version="Gtk# 3.0" />
      </Docs>
    </Member>
    <Member MemberName="Apply">
      <MemberSignature Language="C#" Value="public void Apply ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void Apply() cil managed" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
        <since version="Gtk# 3.0" />
      </Docs>
    </Member>
    <Member MemberName="Backend">
      <MemberSignature Language="C#" Value="public GLib.SettingsBackend Backend { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance class GLib.SettingsBackend Backend" />
      <MemberType>Property</MemberType>
      <Attributes>
        <Attribute>
          <AttributeName>GLib.Property("backend")</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>GLib.SettingsBackend</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>To be added.</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
        <since version="Gtk# 3.0" />
      </Docs>
    </Member>
    <Member MemberName="Bind">
      <MemberSignature Language="C#" Value="public void Bind (string key, IntPtr objekt, string property, GLib.SettingsBindFlags flags);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void Bind(string key, native int objekt, string property, valuetype GLib.SettingsBindFlags flags) cil managed" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="key" Type="System.String" />
        <Parameter Name="objekt" Type="System.IntPtr" />
        <Parameter Name="property" Type="System.String" />
        <Parameter Name="flags" Type="GLib.SettingsBindFlags" />
      </Parameters>
      <Docs>
        <param name="key">To be added.</param>
        <param name="objekt">To be added.</param>
        <param name="property">To be added.</param>
        <param name="flags">To be added.</param>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
        <since version="Gtk# 3.0" />
      </Docs>
    </Member>
    <Member MemberName="BindWithMapping">
      <MemberSignature Language="C#" Value="public void BindWithMapping (string key, IntPtr objekt, string property, GLib.SettingsBindFlags flags, GLib.SettingsBindGetMapping get_mapping, GLib.SettingsBindSetMapping set_mapping);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void BindWithMapping(string key, native int objekt, string property, valuetype GLib.SettingsBindFlags flags, class GLib.SettingsBindGetMapping get_mapping, class GLib.SettingsBindSetMapping set_mapping) cil managed" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="key" Type="System.String" />
        <Parameter Name="objekt" Type="System.IntPtr" />
        <Parameter Name="property" Type="System.String" />
        <Parameter Name="flags" Type="GLib.SettingsBindFlags" />
        <Parameter Name="get_mapping" Type="GLib.SettingsBindGetMapping" />
        <Parameter Name="set_mapping" Type="GLib.SettingsBindSetMapping" />
      </Parameters>
      <Docs>
        <param name="key">To be added.</param>
        <param name="objekt">To be added.</param>
        <param name="property">To be added.</param>
        <param name="flags">To be added.</param>
        <param name="get_mapping">To be added.</param>
        <param name="set_mapping">To be added.</param>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
        <since version="Gtk# 3.0" />
      </Docs>
    </Member>
    <Member MemberName="BindWritable">
      <MemberSignature Language="C#" Value="public void BindWritable (string key, IntPtr objekt, string property, bool inverted);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void BindWritable(string key, native int objekt, string property, bool inverted) cil managed" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="key" Type="System.String" />
        <Parameter Name="objekt" Type="System.IntPtr" />
        <Parameter Name="property" Type="System.String" />
        <Parameter Name="inverted" Type="System.Boolean" />
      </Parameters>
      <Docs>
        <param name="key">To be added.</param>
        <param name="objekt">To be added.</param>
        <param name="property">To be added.</param>
        <param name="inverted">To be added.</param>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
        <since version="Gtk# 3.0" />
      </Docs>
    </Member>
    <Member MemberName="Changed">
      <MemberSignature Language="C#" Value="public event GLib.ChangedHandler Changed;" />
      <MemberSignature Language="ILAsm" Value=".event class GLib.ChangedHandler Changed" />
      <MemberType>Event</MemberType>
      <Attributes>
        <Attribute>
          <AttributeName>GLib.Signal("changed")</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>GLib.ChangedHandler</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
        <since version="Gtk# 3.0" />
      </Docs>
    </Member>
    <Member MemberName="ChangeEvent">
      <MemberSignature Language="C#" Value="public event GLib.ChangeEventHandler ChangeEvent;" />
      <MemberSignature Language="ILAsm" Value=".event class GLib.ChangeEventHandler ChangeEvent" />
      <MemberType>Event</MemberType>
      <Attributes>
        <Attribute>
          <AttributeName>GLib.Signal("change-event")</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>GLib.ChangeEventHandler</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
        <since version="Gtk# 3.0" />
      </Docs>
    </Member>
    <Member MemberName="Delay">
      <MemberSignature Language="C#" Value="public void Delay ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void Delay() cil managed" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
        <since version="Gtk# 3.0" />
      </Docs>
    </Member>
    <Member MemberName="DelayApply">
      <MemberSignature Language="C#" Value="public bool DelayApply { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance bool DelayApply" />
      <MemberType>Property</MemberType>
      <Attributes>
        <Attribute>
          <AttributeName>GLib.Property("delay-apply")</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.Boolean</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>To be added.</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
        <since version="Gtk# 3.0" />
      </Docs>
    </Member>
    <Member MemberName="GetBoolean">
      <MemberSignature Language="C#" Value="public bool GetBoolean (string key);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance bool GetBoolean(string key) cil managed" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Boolean</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="key" Type="System.String" />
      </Parameters>
      <Docs>
        <param name="key">To be added.</param>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
        <since version="Gtk# 3.0" />
      </Docs>
    </Member>
    <Member MemberName="GetChild">
      <MemberSignature Language="C#" Value="public GLib.Settings GetChild (string name);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance class GLib.Settings GetChild(string name) cil managed" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>GLib.Settings</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="name" Type="System.String" />
      </Parameters>
      <Docs>
        <param name="name">To be added.</param>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
        <since version="Gtk# 3.0" />
      </Docs>
    </Member>
    <Member MemberName="GetDouble">
      <MemberSignature Language="C#" Value="public double GetDouble (string key);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance float64 GetDouble(string key) cil managed" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Double</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="key" Type="System.String" />
      </Parameters>
      <Docs>
        <param name="key">To be added.</param>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
        <since version="Gtk# 3.0" />
      </Docs>
    </Member>
    <Member MemberName="GetEnum">
      <MemberSignature Language="C#" Value="public int GetEnum (string key);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance int32 GetEnum(string key) cil managed" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Int32</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="key" Type="System.String" />
      </Parameters>
      <Docs>
        <param name="key">To be added.</param>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
        <since version="Gtk# 3.0" />
      </Docs>
    </Member>
    <Member MemberName="GetFlags">
      <MemberSignature Language="C#" Value="public uint GetFlags (string key);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance unsigned int32 GetFlags(string key) cil managed" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.UInt32</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="key" Type="System.String" />
      </Parameters>
      <Docs>
        <param name="key">To be added.</param>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
        <since version="Gtk# 3.0" />
      </Docs>
    </Member>
    <Member MemberName="GetInt">
      <MemberSignature Language="C#" Value="public int GetInt (string key);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance int32 GetInt(string key) cil managed" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Int32</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="key" Type="System.String" />
      </Parameters>
      <Docs>
        <param name="key">To be added.</param>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
        <since version="Gtk# 3.0" />
      </Docs>
    </Member>
    <Member MemberName="GetMapped">
      <MemberSignature Language="C#" Value="public IntPtr GetMapped (string key, GLib.SettingsGetMapping mapping);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance native int GetMapped(string key, class GLib.SettingsGetMapping mapping) cil managed" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.IntPtr</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="key" Type="System.String" />
        <Parameter Name="mapping" Type="GLib.SettingsGetMapping" />
      </Parameters>
      <Docs>
        <param name="key">To be added.</param>
        <param name="mapping">To be added.</param>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
        <since version="Gtk# 3.0" />
      </Docs>
    </Member>
    <Member MemberName="GetMapping">
      <MemberSignature Language="C#" Value="public static bool GetMapping (GLib.Value value, GLib.Variant variant, IntPtr user_data);" />
      <MemberSignature Language="ILAsm" Value=".method public static hidebysig bool GetMapping(valuetype GLib.Value value, class GLib.Variant variant, native int user_data) cil managed" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Boolean</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="value" Type="GLib.Value" />
        <Parameter Name="variant" Type="GLib.Variant" />
        <Parameter Name="user_data" Type="System.IntPtr" />
      </Parameters>
      <Docs>
        <param name="value">To be added.</param>
        <param name="variant">To be added.</param>
        <param name="user_data">To be added.</param>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
        <since version="Gtk# 3.0" />
      </Docs>
    </Member>
    <Member MemberName="GetRange">
      <MemberSignature Language="C#" Value="public GLib.Variant GetRange (string key);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance class GLib.Variant GetRange(string key) cil managed" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>GLib.Variant</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="key" Type="System.String" />
      </Parameters>
      <Docs>
        <param name="key">To be added.</param>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
        <since version="Gtk# 3.0" />
      </Docs>
    </Member>
    <Member MemberName="GetString">
      <MemberSignature Language="C#" Value="public string GetString (string key);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance string GetString(string key) cil managed" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="key" Type="System.String" />
      </Parameters>
      <Docs>
        <param name="key">To be added.</param>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
        <since version="Gtk# 3.0" />
      </Docs>
    </Member>
    <Member MemberName="GetStrv">
      <MemberSignature Language="C#" Value="public string[] GetStrv (string key);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance string[] GetStrv(string key) cil managed" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.String[]</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="key" Type="System.String" />
      </Parameters>
      <Docs>
        <param name="key">To be added.</param>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
        <since version="Gtk# 3.0" />
      </Docs>
    </Member>
    <Member MemberName="GetValue">
      <MemberSignature Language="C#" Value="public GLib.Variant GetValue (string key);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance class GLib.Variant GetValue(string key) cil managed" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>GLib.Variant</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="key" Type="System.String" />
      </Parameters>
      <Docs>
        <param name="key">To be added.</param>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
        <since version="Gtk# 3.0" />
      </Docs>
    </Member>
    <Member MemberName="GType">
      <MemberSignature Language="C#" Value="public static GLib.GType GType { get; }" />
      <MemberSignature Language="ILAsm" Value=".property valuetype GLib.GType GType" />
      <MemberType>Property</MemberType>
      <ReturnValue>
        <ReturnType>GLib.GType</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>GType Property.</summary>
        <value>The native <see cref="T:GLib.GType" /> value.</value>
        <remarks>Returns the native <see cref="T:GLib.GType" /> value for <see cref="T:GLib.Settings" />.</remarks>
        <since version="Gtk# 3.0" />
      </Docs>
    </Member>
    <Member MemberName="HasUnapplied">
      <MemberSignature Language="C#" Value="public bool HasUnapplied { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance bool HasUnapplied" />
      <MemberType>Property</MemberType>
      <Attributes>
        <Attribute>
          <AttributeName>GLib.Property("has-unapplied")</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.Boolean</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>To be added.</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
        <since version="Gtk# 3.0" />
      </Docs>
    </Member>
    <Member MemberName="IsWritable">
      <MemberSignature Language="C#" Value="public bool IsWritable (string name);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance bool IsWritable(string name) cil managed" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Boolean</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="name" Type="System.String" />
      </Parameters>
      <Docs>
        <param name="name">To be added.</param>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
        <since version="Gtk# 3.0" />
      </Docs>
    </Member>
    <Member MemberName="ListChildren">
      <MemberSignature Language="C#" Value="public string[] ListChildren ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance string[] ListChildren() cil managed" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.String[]</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
        <since version="Gtk# 3.0" />
      </Docs>
    </Member>
    <Member MemberName="ListKeys">
      <MemberSignature Language="C#" Value="public string[] ListKeys ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance string[] ListKeys() cil managed" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.String[]</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
        <since version="Gtk# 3.0" />
      </Docs>
    </Member>
    <Member MemberName="ListRelocatableSchemas">
      <MemberSignature Language="C#" Value="public static string[] ListRelocatableSchemas ();" />
      <MemberSignature Language="ILAsm" Value=".method public static hidebysig string[] ListRelocatableSchemas() cil managed" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.String[]</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
        <since version="Gtk# 3.0" />
      </Docs>
    </Member>
    <Member MemberName="ListSchemas">
      <MemberSignature Language="C#" Value="public static string[] ListSchemas ();" />
      <MemberSignature Language="ILAsm" Value=".method public static hidebysig string[] ListSchemas() cil managed" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.String[]</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
        <since version="Gtk# 3.0" />
      </Docs>
    </Member>
    <Member MemberName="MappingIsCompatible">
      <MemberSignature Language="C#" Value="public static bool MappingIsCompatible (GLib.GType gvalue_type, GLib.VariantType variant_type);" />
      <MemberSignature Language="ILAsm" Value=".method public static hidebysig bool MappingIsCompatible(valuetype GLib.GType gvalue_type, class GLib.VariantType variant_type) cil managed" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Boolean</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="gvalue_type" Type="GLib.GType" />
        <Parameter Name="variant_type" Type="GLib.VariantType" />
      </Parameters>
      <Docs>
        <param name="gvalue_type">To be added.</param>
        <param name="variant_type">To be added.</param>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
        <since version="Gtk# 3.0" />
      </Docs>
    </Member>
    <Member MemberName="OnChanged">
      <MemberSignature Language="C#" Value="protected virtual void OnChanged (string key);" />
      <MemberSignature Language="ILAsm" Value=".method familyhidebysig newslot virtual instance void OnChanged(string key) cil managed" />
      <MemberType>Method</MemberType>
      <Attributes>
        <Attribute>
          <AttributeName>GLib.DefaultSignalHandler(ConnectionMethod="OverrideChanged", Type=typeof(GLib.Settings))</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="key" Type="System.String" />
      </Parameters>
      <Docs>
        <param name="key">To be added.</param>
        <summary>Default handler for the <see cref="M:GLib.Settings.Changed" /> event.</summary>
        <remarks>Override this method in a subclass to provide a default handler for the <see cref="M:GLib.Settings.Changed" /> event.</remarks>
        <since version="Gtk# 3.0" />
      </Docs>
    </Member>
    <Member MemberName="OnChangeEvent">
      <MemberSignature Language="C#" Value="protected virtual bool OnChangeEvent (out int keys, int n_keys);" />
      <MemberSignature Language="ILAsm" Value=".method familyhidebysig newslot virtual instance bool OnChangeEvent(int32 keys, int32 n_keys) cil managed" />
      <MemberType>Method</MemberType>
      <Attributes>
        <Attribute>
          <AttributeName>GLib.DefaultSignalHandler(ConnectionMethod="OverrideChangeEvent", Type=typeof(GLib.Settings))</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.Boolean</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="keys" Type="System.Int32&amp;" RefType="out" />
        <Parameter Name="n_keys" Type="System.Int32" />
      </Parameters>
      <Docs>
        <param name="keys">To be added.</param>
        <param name="n_keys">To be added.</param>
        <summary>Default handler for the <see cref="M:GLib.Settings.ChangeEvent" /> event.</summary>
        <returns>To be added.</returns>
        <remarks>Override this method in a subclass to provide a default handler for the <see cref="M:GLib.Settings.ChangeEvent" /> event.</remarks>
        <since version="Gtk# 3.0" />
      </Docs>
    </Member>
    <Member MemberName="OnWritableChanged">
      <MemberSignature Language="C#" Value="protected virtual void OnWritableChanged (string key);" />
      <MemberSignature Language="ILAsm" Value=".method familyhidebysig newslot virtual instance void OnWritableChanged(string key) cil managed" />
      <MemberType>Method</MemberType>
      <Attributes>
        <Attribute>
          <AttributeName>GLib.DefaultSignalHandler(ConnectionMethod="OverrideWritableChanged", Type=typeof(GLib.Settings))</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="key" Type="System.String" />
      </Parameters>
      <Docs>
        <param name="key">To be added.</param>
        <summary>Default handler for the <see cref="M:GLib.Settings.WritableChanged" /> event.</summary>
        <remarks>Override this method in a subclass to provide a default handler for the <see cref="M:GLib.Settings.WritableChanged" /> event.</remarks>
        <since version="Gtk# 3.0" />
      </Docs>
    </Member>
    <Member MemberName="OnWritableChangeEvent">
      <MemberSignature Language="C#" Value="protected virtual bool OnWritableChangeEvent (int key);" />
      <MemberSignature Language="ILAsm" Value=".method familyhidebysig newslot virtual instance bool OnWritableChangeEvent(int32 key) cil managed" />
      <MemberType>Method</MemberType>
      <Attributes>
        <Attribute>
          <AttributeName>GLib.DefaultSignalHandler(ConnectionMethod="OverrideWritableChangeEvent", Type=typeof(GLib.Settings))</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.Boolean</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="key" Type="System.Int32" />
      </Parameters>
      <Docs>
        <param name="key">To be added.</param>
        <summary>Default handler for the <see cref="M:GLib.Settings.WritableChangeEvent" /> event.</summary>
        <returns>To be added.</returns>
        <remarks>Override this method in a subclass to provide a default handler for the <see cref="M:GLib.Settings.WritableChangeEvent" /> event.</remarks>
        <since version="Gtk# 3.0" />
      </Docs>
    </Member>
    <Member MemberName="Path">
      <MemberSignature Language="C#" Value="public string Path { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance string Path" />
      <MemberType>Property</MemberType>
      <Attributes>
        <Attribute>
          <AttributeName>GLib.Property("path")</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>To be added.</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
        <since version="Gtk# 3.0" />
      </Docs>
    </Member>
    <Member MemberName="RangeCheck">
      <MemberSignature Language="C#" Value="public bool RangeCheck (string key, GLib.Variant value);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance bool RangeCheck(string key, class GLib.Variant value) cil managed" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Boolean</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="key" Type="System.String" />
        <Parameter Name="value" Type="GLib.Variant" />
      </Parameters>
      <Docs>
        <param name="key">To be added.</param>
        <param name="value">To be added.</param>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
        <since version="Gtk# 3.0" />
      </Docs>
    </Member>
    <Member MemberName="Reset">
      <MemberSignature Language="C#" Value="public void Reset (string key);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void Reset(string key) cil managed" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="key" Type="System.String" />
      </Parameters>
      <Docs>
        <param name="key">To be added.</param>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
        <since version="Gtk# 3.0" />
      </Docs>
    </Member>
    <Member MemberName="Revert">
      <MemberSignature Language="C#" Value="public void Revert ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void Revert() cil managed" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
        <since version="Gtk# 3.0" />
      </Docs>
    </Member>
    <Member MemberName="Schema">
      <MemberSignature Language="C#" Value="public string Schema { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance string Schema" />
      <MemberType>Property</MemberType>
      <Attributes>
        <Attribute>
          <AttributeName>GLib.Property("schema")</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>To be added.</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
        <since version="Gtk# 3.0" />
      </Docs>
    </Member>
    <Member MemberName="SetBoolean">
      <MemberSignature Language="C#" Value="public bool SetBoolean (string key, bool value);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance bool SetBoolean(string key, bool value) cil managed" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Boolean</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="key" Type="System.String" />
        <Parameter Name="value" Type="System.Boolean" />
      </Parameters>
      <Docs>
        <param name="key">To be added.</param>
        <param name="value">To be added.</param>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
        <since version="Gtk# 3.0" />
      </Docs>
    </Member>
    <Member MemberName="SetDouble">
      <MemberSignature Language="C#" Value="public bool SetDouble (string key, double value);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance bool SetDouble(string key, float64 value) cil managed" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Boolean</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="key" Type="System.String" />
        <Parameter Name="value" Type="System.Double" />
      </Parameters>
      <Docs>
        <param name="key">To be added.</param>
        <param name="value">To be added.</param>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
        <since version="Gtk# 3.0" />
      </Docs>
    </Member>
    <Member MemberName="SetEnum">
      <MemberSignature Language="C#" Value="public bool SetEnum (string key, int value);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance bool SetEnum(string key, int32 value) cil managed" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Boolean</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="key" Type="System.String" />
        <Parameter Name="value" Type="System.Int32" />
      </Parameters>
      <Docs>
        <param name="key">To be added.</param>
        <param name="value">To be added.</param>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
        <since version="Gtk# 3.0" />
      </Docs>
    </Member>
    <Member MemberName="SetFlags">
      <MemberSignature Language="C#" Value="public bool SetFlags (string key, uint value);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance bool SetFlags(string key, unsigned int32 value) cil managed" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Boolean</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="key" Type="System.String" />
        <Parameter Name="value" Type="System.UInt32" />
      </Parameters>
      <Docs>
        <param name="key">To be added.</param>
        <param name="value">To be added.</param>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
        <since version="Gtk# 3.0" />
      </Docs>
    </Member>
    <Member MemberName="SetInt">
      <MemberSignature Language="C#" Value="public bool SetInt (string key, int value);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance bool SetInt(string key, int32 value) cil managed" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Boolean</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="key" Type="System.String" />
        <Parameter Name="value" Type="System.Int32" />
      </Parameters>
      <Docs>
        <param name="key">To be added.</param>
        <param name="value">To be added.</param>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
        <since version="Gtk# 3.0" />
      </Docs>
    </Member>
    <Member MemberName="SetMapping">
      <MemberSignature Language="C#" Value="public static GLib.Variant SetMapping (GLib.Value value, GLib.VariantType expected_type, IntPtr user_data);" />
      <MemberSignature Language="ILAsm" Value=".method public static hidebysig class GLib.Variant SetMapping(valuetype GLib.Value value, class GLib.VariantType expected_type, native int user_data) cil managed" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>GLib.Variant</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="value" Type="GLib.Value" />
        <Parameter Name="expected_type" Type="GLib.VariantType" />
        <Parameter Name="user_data" Type="System.IntPtr" />
      </Parameters>
      <Docs>
        <param name="value">To be added.</param>
        <param name="expected_type">To be added.</param>
        <param name="user_data">To be added.</param>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
        <since version="Gtk# 3.0" />
      </Docs>
    </Member>
    <Member MemberName="SetString">
      <MemberSignature Language="C#" Value="public bool SetString (string key, string value);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance bool SetString(string key, string value) cil managed" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Boolean</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="key" Type="System.String" />
        <Parameter Name="value" Type="System.String" />
      </Parameters>
      <Docs>
        <param name="key">To be added.</param>
        <param name="value">To be added.</param>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
        <since version="Gtk# 3.0" />
      </Docs>
    </Member>
    <Member MemberName="SetStrv">
      <MemberSignature Language="C#" Value="public bool SetStrv (string key, string[] value);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance bool SetStrv(string key, string[] value) cil managed" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Boolean</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="key" Type="System.String" />
        <Parameter Name="value" Type="System.String[]" />
      </Parameters>
      <Docs>
        <param name="key">To be added.</param>
        <param name="value">To be added.</param>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
        <since version="Gtk# 3.0" />
      </Docs>
    </Member>
    <Member MemberName="SetValue">
      <MemberSignature Language="C#" Value="public bool SetValue (string key, GLib.Variant value);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance bool SetValue(string key, class GLib.Variant value) cil managed" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Boolean</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="key" Type="System.String" />
        <Parameter Name="value" Type="GLib.Variant" />
      </Parameters>
      <Docs>
        <param name="key">To be added.</param>
        <param name="value">To be added.</param>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
        <since version="Gtk# 3.0" />
      </Docs>
    </Member>
    <Member MemberName="Sync">
      <MemberSignature Language="C#" Value="public static void Sync ();" />
      <MemberSignature Language="ILAsm" Value=".method public static hidebysig void Sync() cil managed" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
        <since version="Gtk# 3.0" />
      </Docs>
    </Member>
    <Member MemberName="Unbind">
      <MemberSignature Language="C#" Value="public static void Unbind (IntPtr objekt, string property);" />
      <MemberSignature Language="ILAsm" Value=".method public static hidebysig void Unbind(native int objekt, string property) cil managed" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="objekt" Type="System.IntPtr" />
        <Parameter Name="property" Type="System.String" />
      </Parameters>
      <Docs>
        <param name="objekt">To be added.</param>
        <param name="property">To be added.</param>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
        <since version="Gtk# 3.0" />
      </Docs>
    </Member>
    <Member MemberName="WritableChanged">
      <MemberSignature Language="C#" Value="public event GLib.WritableChangedHandler WritableChanged;" />
      <MemberSignature Language="ILAsm" Value=".event class GLib.WritableChangedHandler WritableChanged" />
      <MemberType>Event</MemberType>
      <Attributes>
        <Attribute>
          <AttributeName>GLib.Signal("writable-changed")</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>GLib.WritableChangedHandler</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
        <since version="Gtk# 3.0" />
      </Docs>
    </Member>
    <Member MemberName="WritableChangeEvent">
      <MemberSignature Language="C#" Value="public event GLib.WritableChangeEventHandler WritableChangeEvent;" />
      <MemberSignature Language="ILAsm" Value=".event class GLib.WritableChangeEventHandler WritableChangeEvent" />
      <MemberType>Event</MemberType>
      <Attributes>
        <Attribute>
          <AttributeName>GLib.Signal("writable-change-event")</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>GLib.WritableChangeEventHandler</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
        <since version="Gtk# 3.0" />
      </Docs>
    </Member>
  </Members>
</Type>
