.code {padding-left:2px; padding-right:2px;, padding-top:0px;padding-bottom:0px;background-color:#efefef}
body {font-family:Arial, Verdana;font-size:12px;}
.navbar {font-family:Arial, Verdana;font-size:10px;}