<Type Name="Module" FullName="Gnome.Vfs.Module">
  <TypeSignature Language="C#" Value="public class Module" />
  <AssemblyInfo>
    <AssemblyName>gnome-vfs-sharp</AssemblyName>
    <AssemblyVersion>2.0.0.0</AssemblyVersion>
  </AssemblyInfo>
  <Base>
    <BaseTypeName>System.Object</BaseTypeName>
  </Base>
  <Interfaces />
  <Members>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="public Module ();" />
      <MemberType>Constructor</MemberType>
      <Parameters />
      <Docs>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="CallbackPop">
      <MemberSignature Language="C#" Value="public static void CallbackPop (string callback_name);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="callback_name" Type="System.String" />
      </Parameters>
      <Docs>
        <param name="callback_name">To be added.</param>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="CallbackInvoke">
      <MemberSignature Language="C#" Value="public static bool CallbackInvoke (string callback_name, IntPtr in_param, ulong in_size, IntPtr out_param, ulong out_size);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Boolean</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="callback_name" Type="System.String" />
        <Parameter Name="in_param" Type="System.IntPtr" />
        <Parameter Name="in_size" Type="System.UInt64" />
        <Parameter Name="out_param" Type="System.IntPtr" />
        <Parameter Name="out_size" Type="System.UInt64" />
      </Parameters>
      <Docs>
        <param name="callback_name">To be added.</param>
        <param name="in_param">To be added.</param>
        <param name="in_size">To be added.</param>
        <param name="out_param">To be added.</param>
        <param name="out_size">To be added.</param>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
  </Members>
  <Docs>
    <summary>To be added.</summary>
    <remarks>To be added.</remarks>
  </Docs>
</Type>
