<Type Name="Settings" FullName="Gtk.Settings">
  <TypeSignature Language="C#" Maintainer="auto" Value="public class Settings : GLib.Object" />
  <AssemblyInfo>
    <AssemblyName>gtk-sharp</AssemblyName>
    <AssemblyPublicKey>
    </AssemblyPublicKey>
    <AssemblyVersion>2.12.0.0</AssemblyVersion>
  </AssemblyInfo>
  <ThreadSafetyStatement>Gtk# is thread aware, but not thread safe; See the <link location="node:gtk-sharp/programming/threads">Gtk# Thread Programming</link> for details.</ThreadSafetyStatement>
  <Docs>
    <summary>Maintains application settings for <see cref="T:Gtk.Widget" /> objects attached to a toplevel.</summary>
    <remarks>See <see cref="P:Gtk.Widget.Settings" /></remarks>
  </Docs>
  <Base>
    <BaseTypeName>GLib.Object</BaseTypeName>
  </Base>
  <Interfaces>
  </Interfaces>
  <Members>
    <Member MemberName="InstallPropertyParser">
      <MemberSignature Language="C#" Value="public static void InstallPropertyParser (IntPtr pspec, Gtk.RcPropertyParser parser);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="pspec" Type="System.IntPtr" />
        <Parameter Name="parser" Type="Gtk.RcPropertyParser" />
      </Parameters>
      <Docs>
        <summary>Sets up the property parser for reading Rc files.</summary>
        <param name="pspec">A <see cref="T:IntPtr" />, pointer to the underlying C object (TODO: explain)</param>
        <param name="parser">A <see cref="T:Gtk.RcPropertyParser" /></param>
        <remarks />
      </Docs>
    </Member>
    <Member MemberName="InstallProperty">
      <MemberSignature Language="C#" Value="public static void InstallProperty (IntPtr pspec);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="pspec" Type="System.IntPtr" />
      </Parameters>
      <Docs>
        <summary>Installs a property.</summary>
        <param name="pspec">A <see cref="T:IntPtr" />, pointer to an unmanaged C property object.</param>
        <remarks />
      </Docs>
    </Member>
    <Member MemberName="SetLongProperty">
      <MemberSignature Language="C#" Value="public void SetLongProperty (string name, long v_long, string origin);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="name" Type="System.String" />
        <Parameter Name="v_long" Type="System.Int64" />
        <Parameter Name="origin" Type="System.String" />
      </Parameters>
      <Docs>
        <summary>Sets a property whose content is a <see cref="T:System.Int64" />.</summary>
        <param name="name">A <see cref="T:System.String" /></param>
        <param name="v_long">A <see cref="T:System.Int64" /></param>
        <param name="origin">A <see cref="T:System.String" /></param>
        <remarks />
      </Docs>
    </Member>
    <Member MemberName="SetPropertyValue">
      <MemberSignature Language="C#" Value="public void SetPropertyValue (string name, Gtk.SettingsValue svalue);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="name" Type="System.String" />
        <Parameter Name="svalue" Type="Gtk.SettingsValue" />
      </Parameters>
      <Docs>
        <summary>Sets a property whose value is a <see cref="T:Gtk.SettingsValue" />.</summary>
        <param name="name">A <see cref="T:System.String" /></param>
        <param name="svalue">A <see cref="T:Gtk.SettingsValue" /></param>
        <remarks />
      </Docs>
    </Member>
    <Member MemberName="SetDoubleProperty">
      <MemberSignature Language="C#" Value="public void SetDoubleProperty (string name, double v_double, string origin);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="name" Type="System.String" />
        <Parameter Name="v_double" Type="System.Double" />
        <Parameter Name="origin" Type="System.String" />
      </Parameters>
      <Docs>
        <summary>Sets a property whose value is a <see cref="T:System.Double" />.</summary>
        <param name="name">A <see cref="T:System.String" /></param>
        <param name="v_double">A <see cref="T:System.Double" /></param>
        <param name="origin">A <see cref="T:System.String" /></param>
        <remarks />
      </Docs>
    </Member>
    <Member MemberName="SetStringProperty">
      <MemberSignature Language="C#" Value="public void SetStringProperty (string name, string v_string, string origin);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="name" Type="System.String" />
        <Parameter Name="v_string" Type="System.String" />
        <Parameter Name="origin" Type="System.String" />
      </Parameters>
      <Docs>
        <summary>Sets a property whose value is a <see cref="T:System.String" />.</summary>
        <param name="name">A <see cref="T:System.String" /></param>
        <param name="v_string">A <see cref="T:System.String" /></param>
        <param name="origin">A <see cref="T:System.String" /></param>
        <remarks />
      </Docs>
    </Member>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="public Settings (IntPtr raw);" />
      <MemberType>Constructor</MemberType>
      <ReturnValue />
      <Parameters>
        <Parameter Name="raw" Type="System.IntPtr" />
      </Parameters>
      <Docs>
        <summary>Internal constructor</summary>
        <param name="raw">Pointer to the C object.</param>
        <remarks>
          <para>This is an internal constructor, and should not be used by user code.</para>
        </remarks>
      </Docs>
    </Member>
    <Member MemberName="Default">
      <MemberSignature Language="C#" Value="public static Gtk.Settings Default { get; };" />
      <MemberType>Property</MemberType>
      <ReturnValue>
        <ReturnType>Gtk.Settings</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>Returns a default settings object.</summary>
        <value>A <see cref="T:Gtk.Settings" /></value>
        <remarks />
      </Docs>
    </Member>
    <Member MemberName="GetForScreen">
      <MemberSignature Language="C#" Value="public static Gtk.Settings GetForScreen (Gdk.Screen screen);" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>Gtk.Settings</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="screen" Type="Gdk.Screen" />
      </Parameters>
      <Docs>
        <summary>Gets the settings for <paramref name="screen" />.</summary>
        <param name="screen">a <see cref="T:Gdk.Screen" /></param>
        <returns>a <see cref="T:Gtk.Settings" /></returns>
        <remarks />
      </Docs>
    </Member>
    <Member MemberName="GType">
      <MemberSignature Language="C#" Value="public static GLib.GType GType { get; };" />
      <MemberType>Property</MemberType>
      <ReturnValue>
        <ReturnType>GLib.GType</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>GType Property.</summary>
        <value>a <see cref="T:GLib.GType" /></value>
        <remarks>Returns the native <see cref="T:GLib.GType" /> value for <see cref="T:Gtk.Settings" />.</remarks>
      </Docs>
    </Member>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="protected Settings (GLib.GType gtype);" />
      <MemberType>Constructor</MemberType>
      <ReturnValue />
      <Parameters>
        <Parameter Name="gtype" Type="GLib.GType" />
      </Parameters>
      <Docs>
        <summary>Protected Constructor.</summary>
        <param name="gtype">a <see cref="T:GLib.GType" /></param>
        <remarks>Chain to this constructor if you have manually registered a native <see cref="T:GLib.GType" /> value for your subclass.</remarks>
      </Docs>
      <Attributes>
        <Attribute>
          <AttributeName>System.Obsolete</AttributeName>
        </Attribute>
      </Attributes>
    </Member>
    <Member MemberName="CursorBlink">
      <MemberSignature Language="C#" Value="public bool CursorBlink { set; get; };" />
      <MemberType>Property</MemberType>
      <ReturnValue>
        <ReturnType>System.Boolean</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>True if the cursor should blink, false if it should not blink.</summary>
        <value>a <see cref="T:System.Boolean" /></value>
        <remarks />
      </Docs>
    </Member>
    <Member MemberName="CursorBlinkTime">
      <MemberSignature Language="C#" Value="public int CursorBlinkTime { set; get; };" />
      <MemberType>Property</MemberType>
      <ReturnValue>
        <ReturnType>System.Int32</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>Blink interval in milliseconds for the cursor.</summary>
        <value>a <see cref="T:System.Int32" /></value>
        <remarks />
      </Docs>
    </Member>
    <Member MemberName="DndDragThreshold">
      <MemberSignature Language="C#" Value="public int DndDragThreshold { set; get; };" />
      <MemberType>Property</MemberType>
      <ReturnValue>
        <ReturnType>System.Int32</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>Number of pixels the cursor can move before dragging.</summary>
        <value>a <see cref="T:System.Int32" /></value>
        <remarks />
      </Docs>
    </Member>
    <Member MemberName="DoubleClickTime">
      <MemberSignature Language="C#" Value="public int DoubleClickTime { set; get; };" />
      <MemberType>Property</MemberType>
      <ReturnValue>
        <ReturnType>System.Int32</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>Maximum interval between clicks for a mouse action to be considered a double-click. Measured in milliseconds.</summary>
        <value>a <see cref="T:System.Int32" /></value>
        <remarks />
      </Docs>
    </Member>
    <Member MemberName="FontName">
      <MemberSignature Language="C#" Value="public string FontName { set; get; };" />
      <MemberType>Property</MemberType>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>A font name.</summary>
        <value>a <see cref="T:System.String" /></value>
        <remarks />
      </Docs>
    </Member>
    <Member MemberName="IconSizes">
      <MemberSignature Language="C#" Value="public string IconSizes { set; get; };" />
      <MemberType>Property</MemberType>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>A string representing possible sizes for icons for different UI components.</summary>
        <value>a <see cref="T:System.String" /></value>
        <remarks>This may look something like "(gtk-menu=16,16;gtk-button=20,20 [...])".</remarks>
      </Docs>
    </Member>
    <Member MemberName="KeyThemeName">
      <MemberSignature Language="C#" Value="public string KeyThemeName { set; get; };" />
      <MemberType>Property</MemberType>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>The name of the key theme RC file to load.</summary>
        <value>a <see cref="T:System.String" /></value>
        <remarks />
      </Docs>
    </Member>
    <Member MemberName="MenuBarAccel">
      <MemberSignature Language="C#" Value="public string MenuBarAccel { set; get; };" />
      <MemberType>Property</MemberType>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>Keybinding to activate the menu bar.</summary>
        <value>a <see cref="T:System.String" /></value>
        <remarks>Defaults to F10.</remarks>
      </Docs>
    </Member>
    <Member MemberName="SplitCursor">
      <MemberSignature Language="C#" Value="public bool SplitCursor { set; get; };" />
      <MemberType>Property</MemberType>
      <ReturnValue>
        <ReturnType>System.Boolean</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>Whether two cursors should be displayed for mixed left-to-right and right-to-left text.</summary>
        <value>a <see cref="T:System.Boolean" /></value>
        <remarks />
      </Docs>
    </Member>
    <Member MemberName="ThemeName">
      <MemberSignature Language="C#" Value="public string ThemeName { set; get; };" />
      <MemberType>Property</MemberType>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>Name of the theme RC file to load.</summary>
        <value>a <see cref="T:System.String" /></value>
        <remarks />
      </Docs>
    </Member>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="protected Settings ();" />
      <MemberType>Constructor</MemberType>
      <ReturnValue />
      <Parameters />
      <Docs>
        <summary>Default constructor.</summary>
        <remarks />
      </Docs>
    </Member>
    <Member MemberName="ColorHash">
      <MemberSignature Language="C#" Value="public IntPtr ColorHash { get; };" />
      <MemberType>Property</MemberType>
      <Attributes>
        <Attribute>
          <AttributeName>System.Obsolete("Removed from C API, returns IntPtr.Zero")</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.IntPtr</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>Hashtable to map names to colors.</summary>
        <value>A pointer to a native GHashtable.</value>
        <remarks />
        <since version="Gtk# 2.10" />
      </Docs>
    </Member>
  </Members>
</Type>
